[2020-11-03 11:45] Ygnys opened #5 "Typos in the docs"
chapter: **Setting up Git Live**

1. “If you are unfamiliar with repository hosting services please read Github’s help section in order to **acquaint yourself**.”

- “acquaint yourself” =>  “acquaint yourself with sth” (for example with the process etc.)

2. “As an **Administrator you** need to grant access to the desired repositories”
- “As an Administrator you” => “As an Administrator, you need”

[2020-11-03 16:49] #5 closed

[2020-11-08 13:18] nbransby opened #9 "Remove menu from docs"
![Screenshot_20201108-131504](https://user-images.githubusercontent.com/1386607/98466021-d1acc700-21c4-11eb-8ba7-198dfeb3e47e.png)

[2020-11-08 13:25] nbransby opened #10 "These instructions are Mac specific"
Open the Plugins Dialog
Launch your IDE and click on the IDE’s name menu option.
Select Preferences.
In the Preferences dialog, click on Plugins.

[2020-11-12 13:54] Ygnys opened #13 "The placeholder texts on the blog"
While clicking through our website, somehow I ended up here: https://docs.git.live/blog/
Unfortunately, I don't remember the steps I took, I think clicked "terms" at the bottom of the landing page.
<img width="1065" alt="Screenshot 2020-11-12 at 14 49 32" src="https://user-images.githubusercontent.com/51296866/98948136-59ad0c80-24f6-11eb-8296-0a76b163ff84.png">

[2020-11-12 14:44] FredCoen commented on #13
@SuDa2103 can you take that route out?

[2020-11-14 15:15] GamerFac3 opened #14 "nvm"

[2020-11-14 15:17] #14 closed

[2020-11-16 14:15] SuDa2103 opened #15 "OG Tags when sharing documentation"

[2020-11-17 11:09] #9 closed

[2020-11-17 11:41] FredCoen opened #16 "fix"

[2020-11-18 12:19] #16 closed

[2020-11-18 12:40] SuDa2103 opened #21 "Subsection for Cherry Picking under Visibility"
And change the references from pull to push in the Live Diffs section under visibility

[2020-11-18 17:33] #10 closed

[2021-02-02 03:12] philip-brink opened #28 "Selecting an issue to work on fails when master branch does not exist"
After selecting an issue to work on from the popup, gitlive fails to switch to the new task when the principal branch is not called master.

In my case, the principle branch is called `main`. I get the following error:

[code]

![image](https://user-images.githubusercontent.com/6272888/106546840-100f0500-64da-11eb-8d3c-19de77405a4d.png)

OS: Linux
IDE: Jetbrains rider
VCS: gitlab.com

[2021-02-03 11:30] #15 closed

[2021-02-03 11:32] #13 closed

[2021-02-03 11:32] Reedyuk commented on #28
Hi @philip-brink - many thanks to raising the issue, could you tell me what version of the plugin are you using? As i believe the latest plugin 10.0.5 has it fixed.

[2021-02-03 11:36] FredCoen opened #29 "Support for QT-Creator IDE"

[2021-02-03 11:37] #21 closed

[2021-02-03 11:39] FredCoen opened #30 "Unresponsive service"
When based in Europe service seems to lag due to network issues.

[2021-02-03 12:00] #30 closed

[2021-02-03 12:01] FredCoen opened #31 "Unresponsive service"
When based in Europe service seems to lag due to network issues.

[2021-02-03 12:13] FredCoen opened #32 "Ability to access the Intellisense when collaborating on host"

[2021-02-03 12:17] FredCoen opened #33 "Add support for gitlab shared groups"
In GitLab a group you can have members of another group.
https://docs.gitlab.com/ee/user/group/#sharing-a-group-with-another-group

Support for having all members available in the GitLive Team window.

[2021-02-03 15:07] nbransby commented on #28
Hi @philip-brink thanks for reporting this, I believe this should be fixed now, could you (after restarting your ide) try again and let us know?

[2021-02-03 16:14] philip-brink commented on #28
@nbransby Thanks for checking into this!

I tried again, but it still fails with the same error message. The version I'm using is 10.0.5, I tried restarting and checking for updates, but there were no changes.

[2021-02-03 18:23] RomainFallet commented on #32
In my team, it is very painful for us to work within GitLive without all the built-in editor intellisense and code analysis.

Without feedback about wrong imports, without the ability the add automatically missing imports, without being able to hover a variable to see its type, without all the syntax errors the code linting might give us, it's like working in blind mode.

It requires constant voca

[2021-02-03 20:57] nbransby commented on #28
Thanks @philip-brink I believe it should work now after a restart (doesn't need an update)

[2021-02-04 01:04] philip-brink commented on #28
Great! Works perfectly!

[2021-02-04 01:04] #28 closed

[2021-02-04 22:17] criedel commented on #31
we tried gitlive today again (because your competitor's product was broken).
I was following my colleagues cursor. after a while he opened a file that wasnt in git yet and I couldnt see it. he switched back to a  file that was in source control and I could see the cursor again. next step was to commit the file so I can follow the changes, but that made everything worse and now gitlive wouldn't pic

[2021-02-06 22:40] nbransby commented on #31
Hi @criedel thanks for the report, sorry to hear you were having issues.
Could you confirm what IDE and version of the plugin both you and your colleague were using? Also were you working on a repository from GitHub using this account (criedel) or a different one?

[2021-02-07 10:49] criedel commented on #31
Both using Rider 2020.3.2, working on a private repo from this account, yes.

[2021-02-07 19:38] nbransby commented on #31
Thanks, and when wouldn't pick up any file in the repo that your colleague was working on, do you mean it wasnt opening the same file in your IDE? We have found an issue with the follow cursor switching itself off (you need to manually switch it on again to catch up with your colleague's cursor) which will be fixed in the next version, maybe this was the cause of your issue?

Also I'm assuming you

[2021-02-08 11:41] criedel commented on #31
he was working on a file and the follow cursor option has not been working. in fact, no changes on my colleague's side made it to my computer. toggling the follow cursor option did not fix it and neither did restarting the session.

[2021-02-08 15:17] FredCoen commented on #31
hi @criedel can you provide me with the github user name of your teammate you faced those issues with?

[2021-02-22 00:02] khatibtamal opened #35 "Cannot select issue to work one"
When I select an issue to work on. I get the following error.

![gitlive_error](https://user-images.githubusercontent.com/22264199/108643173-502d2c00-7477-11eb-9c6e-403e5e245c7a.png)

I dont use master branch, but main.

Thanks

[2021-02-23 08:52] michaelprichardson commented on #35
Hi @khatibtamal, thanks for letting us know about this. Could you please let us know what version of the GitLive plugin you are currently using?

[2021-02-24 02:58] khatibtamal commented on #35
hello @michaelprichardson I believe it is 10.0.5

![git_live_version](https://user-images.githubusercontent.com/22264199/108940936-324ffa80-7622-11eb-9834-a64c301f3621.png)

[2021-02-24 12:34] FredCoen opened #36 "multiple people editing breaks IJ functionality"
When multiple people are typing in one file, the autocomplete or whisperer in Intellij breaks each time someone inserts or deletes a character. This is frustrating as I'm used to autocompletion of variable names, type information, automatic code generation/optimisation etc.

[2021-03-08 09:08] FredCoen opened #40 "Broken diffs in version 11.0"
Latest version 11.0 does not show diffs correctly in Webstorm EAP

[2021-03-08 10:03] virtulis commented on #40
Hi there. I'm getting these two errors in the plugin:

[code]

and

[code]

And the diff viewer just shows this:

![image](https://user-images.githubusercontent.com/336598/110306233-4292ad00-8006-11eb-9994-7dc949c512b5.png)

Invalidating caches doesn't help, disabling the plugin does.

[2021-03-08 10:07] Reedyuk commented on #40
Hi @virtulis - the good news is, its already fixed and will be out in the next release.

[2021-03-08 10:08] virtulis commented on #40
Lovely, thanks :)

[2021-03-09 20:05] michaelprichardson commented on #35
Hi @khatibtamal,

Apologies for the delay but I believe it should be fixed now. Your default branch should be set to main now.

Please let me know if you are still getting the error

[2021-03-18 09:13] virtulis opened #44 "Annoyance: stale branches from teammates show as conflicts"
I like the gutter conflict feature but right now it's quite annoying when a teammate is working on another project and has an old branch checked out.

It'd be nice to be able to ignore stale branches. Some options I see:

* Explicitly ignore teammate/branch until there are any changes.
* Option to ignore commits/changes that are N+ days old.
* Option to completely ignore offline teammates / teamma

[2021-03-18 12:12] Reedyuk commented on #44
Hi @virtulis, actually your third option is the easiest for us to implement so we can add that in one of the next releases

[2021-03-20 09:57] iamtakingiteasy opened #45 "IntelliJ plugin: gitlab support is not functional"
In plugin description on https://plugins.jetbrains.com/plugin/11955-gitlive

    Open a repository from one of the supported cloud services (GitHub, GitLab, Bitbucket, Azure DevOps)

However only github account can be added in plugin settings, no other options available.

[2021-03-23 00:02] nbransby commented on #45
hi @iamtakingiteasy, sorry about this,  it will be fixed in next version, in the meantime I believe if you open the repository in the IDE it should prompt you to sign in with GitLab in the GitLive window

[2021-03-23 04:38] ash-hat commented on #35
Was this fixed applied to other issue trackers? I seem to be getting an identical error with the same cause, but I use GitHub instead of GitLab. I'm currently on 11.1.0 via JetBrains Rider 2020.3.4.

[2021-03-23 09:31] michaelprichardson commented on #35
Hi @ash-hat

Thanks for letting us know! Just want to find out a bit more info so I can help fix this. Is the message the same as above? Is it trying to checkout `master` and your repositories default branch is `main`? Did the default branch name for the repository change recently?

[2021-03-23 12:42] ash-hat commented on #35
Yes, same error:
![screenshot of error](https://user-images.githubusercontent.com/5615358/112146126-329fcf00-8ba9-11eb-8aa7-8a5ee61b9cf5.png)
I also had the same branch names: `master` (old) and `main` (new).

The branch did change recently, about 36 hours ago. I noticed it after deleting my stale local branches, including `master`, a little past 24h after the name change.

[2021-04-02 10:52] J3m5 commented on #44
Any news on this one ?
It's a bit annoying,
thanks !

[2021-04-02 11:03] J3m5 opened #46 "12.0 - VSCode: Error with gitlab repo"
I get this error at startup:

[2021-04-02 11:11] J3m5 commented on #46
The bug is a blocking one, it prevent the extension from starting, thus rendering it unusable.

I couldn't find more info in the logs,
reverting back to 11.1.1 fix the problem.

[2021-04-02 21:29] nbransby commented on #46
Hi @J3m5, sorry about this, could you see if 12.0.1 fixes your issue? Thanks

[2021-04-03 07:00] J3m5 commented on #46
12.0.1 fix the issue, thanks for the quick update @nbransby !

[2021-04-03 11:24] #46 closed

[2021-04-04 09:14] #45 closed

[2021-04-04 09:14] #40 closed

[2021-04-04 09:20] nbransby commented on #44
We will be expanding the options for what to show in the gutter (just conflicts / all changes, online users / all users) in an update this month.

In the meantime you can ask your teammates to remove stale working copies from GitLive if they are not using that copy anymore by right clicking it in the GitLive window and select *Remove from GitLive*

[2021-04-06 15:09] thehardikmodha opened #47 "Showing message: The app could not get installed on Bitbucket Marcket place"
I am trying to install GitLive on Bitbucket but it shows me this messages.

At first I have opened the marketplace page then clicked on add button the clicked on grant and then it shows me this error:

The app could not be installed.

Please help me.

![Screenshot from 2021-04-06 20-36-35](https://user-images.githubusercontent.com/62694049/113733208-e19ae980-9717-11eb-98c6-1f6f70e917de.png)
![Scre

[2021-04-07 14:51] michaelprichardson commented on #47
Hi @thehardikmodha,

Thanks for bringing this to our attention. I believe you should be able to install the GitLive app on BitBucket now.

Apologies for the delay

[2021-04-08 20:46] pillscapsules opened #48 "IDE Fatal Error when trying to run the plugin"
A couple of days ago I removed my account from the Gitlive plugin, and now I can't run it; I've tried uninstalling and reinstalling multiple times, tried checking the plugin settings page, still doesn't work. The error that is displayed is attached below.
[stacktrace.txt](https://github.com/GitLiveApp/GitLive/files/6281337/stacktrace.txt)
![idefatalerror](https://user-images.githubusercontent.com/

[2021-04-08 22:21] nbransby commented on #48
This has been fixed in the next version but to avoid having to wait for it to be released you can do the following:
- Exit the IDE
- Open the other.xml from the options dierctory specifed in https://www.jetbrains.com/help/idea/tuning-the-ide.html#config-directory
- Remove the property with the name `app.teamhub.com.google.firebase.auth.FIREBASE_USER`
- Start the IDE

[2021-04-08 22:23] nbransby commented on #47
@thehardikmodha please reopen if you issue is not solved, thanks

[2021-04-08 22:23] #47 closed

[2021-04-09 05:38] pillscapsules commented on #48
That worked, thank you!

[2021-04-09 05:38] #48 closed

[2021-04-13 09:30] pApY-Dalix opened #49 "Error"
command 'git.live.viewSettings' not found
command 'git.live.showAccountList' not found

I have restart VS, reinstall GitLive.

Help me please ^^'

![image](https://user-images.githubusercontent.com/12466017/114530899-aafb2c80-9c4b-11eb-9c86-97aba10bbb29.png)

[2021-04-14 13:48] FredCoen commented on #49
Which version of GitLive have you installed? Can you open your command pallette and type "report" to report the issue to gitlive? I will have a look for you!

[2021-04-15 10:30] pApY-Dalix commented on #49
![image](https://user-images.githubusercontent.com/12466017/114855444-445e4600-9de6-11eb-9e3b-1d785e60151a.png)

[2021-04-16 09:07] #35 closed

[2021-04-16 09:12] FredCoen commented on #49
We could not reproduce your issue. What OS  and vs code version are you on?

[2021-04-16 17:31] pApY-Dalix commented on #49
OS : Windows 10 (Windows_NT x64 10.0.19042)
VS Preview : 1.56.0-insider

[2021-04-17 03:27] juanmiloz opened #51 "It does not allow me to enter gitLive in intelliJ"
It does not allow me to enter gitLive in intelliJ, maybe this error is produced by being logged in from pycharm with my git

[2021-04-17 09:58] nbransby commented on #51
hi @juanmiloz What is the error exactly? Please give as much details as you can including version of IDE and plugin thanks

[2021-04-19 12:23] jhiron-wf opened #52 "No option to collaborate on VS Code for MacOS"
Q | A
--|--
OS | MacOS - Big Sur v11.2.3
VS Code Version | v1.55.2
Cloud Repo service | Github

I'm attempting to collaborate with one of my colleagues on a repository that has GitLive enabled. He is using a mixture of Windows and Ubuntu via WSL. We both have the extension installed and can see one another's status/what files we're working on, but only he has the pencil icon to start collaborating

[2021-04-19 14:24] michaelprichardson commented on #52
Hi @jhiron-wf,

Thanks for all of the information!

The collaboration feature has been moved inside of the call feature. Please make sure both plugins are the latest versions (12.0.3 for VS Code and 12.0.2 for JetBrains) and then you will both have the call button when hovering over each other's names. Once you are in the call you can share code from there. You can read more about it here, https:/

[2021-04-19 14:30] jhiron-wf commented on #52
@michaelprichardson
Ahhhh, apologies for the confusion! That makes sense, amazing, thank you for your help 😄

[2021-04-20 06:30] pApY-Dalix commented on #49
The extension does not create any files/folder in VS
I have checked in Visual Studio Code Insiders > ressources > app > extensions.

[2021-04-20 06:46] pApY-Dalix commented on #49
I tested on the non-insider version of VS, same error :/

[2021-04-20 07:35] pApY-Dalix commented on #49
I found the real VS extension file : User > .vscode-insiders > extensions
I deleted the GitLive file : teamhub.teamhub-12.0.3
Reinstall the plugin

Without success.

[2021-04-20 07:45] nbransby commented on #49
@pApY-Dalix Im not sure what to suggest, we have not had any other reports on this issue. How are you installing the extension, from the marketplace?

[2021-04-20 08:07] pApY-Dalix commented on #49
![image](https://user-images.githubusercontent.com/12466017/115360306-cd4af800-a1bf-11eb-877d-5b00eb2f9847.png)

[2021-04-20 08:09] nbransby commented on #49
Interesting! @pApY-Dalix This would imply you don't have the git extension installed, can you check the installed extensions? should be listed under built-in.

Do you know why you wouldnt have it installed?

[2021-04-20 08:12] pApY-Dalix commented on #49
![image](https://user-images.githubusercontent.com/12466017/115361289-bbb62000-a1c0-11eb-99e2-478f349bd322.png)
![image](https://user-images.githubusercontent.com/12466017/115361424-dc7e7580-a1c0-11eb-9456-5c61977fb20b.png)

[2021-04-20 08:14] pApY-Dalix commented on #49
![image](https://user-images.githubusercontent.com/12466017/115361773-2ff0c380-a1c1-11eb-98fa-9c148c2d1ad3.png)

[2021-04-20 08:20] nbransby commented on #49
https://github.com/microsoft/vscode/blob/94c9ea46838a9a619aeafb7e8afd1170c967bb55/extensions/git/src/api/extension.ts#L76

Need to find out why thats the case on your machine

[2021-04-20 08:34] nbransby commented on #49
No problem, glad you fixed it!

[2021-04-20 08:34] #49 closed

[2021-04-20 12:57] #52 closed

[2021-04-24 19:24] Trickfilm400 opened #58 "Error while try to authenticate with IDE or install to new group"
Hey,

I am using JetBrains:
![image](https://user-images.githubusercontent.com/34717401/115970168-1349e800-a541-11eb-9a1a-2d62f723d75d.png)
While clicking on the top link, I will get redirected to the following URL on my own **GitLab Server**
`https://domain.tld/oauth/authorize?client_id=<client.id>&response_type=code&scope=openid&state=install&redirect_uri=https://app.git.live/gitlab/redirect`

a

[2021-04-26 08:44] michaelprichardson commented on #58
Hi @Trickfilm400,

Thanks for letting us know! Could you verify that the redirect URL for the GitLive application on your instance is `https://app.git.live/gitlab/redirect`?

[2021-04-26 09:28] Trickfilm400 commented on #58
Hi,
The redirect url `https://git.live/gitlab/redirect`
Like on these screenshots:

![Screenshot_20210426-112627_Chrome.jpg](https://user-images.githubusercontent.com/34717401/116060706-64adc080-a682-11eb-84d4-f4af3af1f3a5.jpg)

Did the url change?
I will try your redirect url later and let you know if it worked

[2021-04-26 10:23] Trickfilm400 commented on #58
I have changed the url, but still the same issue.
Maybe because it was first configured with the old url?

Should I contact the support the reset the server configuration?

[2021-04-26 10:29] michaelprichardson commented on #58
Yes, that would be best. We can use your remote to figure out what the issue is

[2021-04-27 09:25] michaelprichardson commented on #58
Hi @Trickfilm400,

Just wanted to find out if you managed to get in contact with support or got it working?

[2021-05-07 04:56] Trickfilm400 commented on #58
Fixed by resetting the GitLab config through support
👍🏻

[2021-05-07 04:56] #58 closed

[2021-05-16 11:31] MarcelRaschke opened #63 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `teamhub`
- Extension Version: `12.1.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-05-16 11:32] MarcelRaschke commented on #63
[code]

[2021-05-16 11:55] nbransby commented on #63
Thanks for the report @MarcelRaschke can you provide any more information like what were you doing in vscode when you got the issue?

[2021-05-16 22:10] MarcelRaschke commented on #63
it was Extension Installation and maintaining vscode with github gitlab et …

[2021-05-19 23:59] harleyq44 opened #64 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `teamhub`
- Extension Version: `12.1.3`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\couch\AppData\Local\Temp\TeamHub.teamhub-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensio

[2021-05-20 09:27] nbransby commented on #64
hi @harleyq44 you forgot to attach the cpu profile

[2021-05-20 14:29] harleyq44 commented on #64
I'm so sorry, I don't know what I'm doing I'm new to the coding world and my vs coder started going crazy 🥺, can you tell me what you need and where I can find it 🥺

[2021-05-20 14:31] nbransby commented on #64
No problem, just attach this file from your home-directory: c:\Users\couch\AppData\Local\Temp\TeamHub.teamhub-unresponsive.cpuprofile.txt

[2021-05-20 15:36] harleyq44 opened #65 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `teamhub`
[TeamHub.teamhub-unresponsive.cpuprofile.txt](https://github.com/GitLiveApp/GitLive/files/6517111/TeamHub.teamhub-unresponsive.cpuprofile.txt)

- Extension Version: `12.1.3`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
teamhub.teamhub

[2021-05-20 15:37] harleyq44 commented on #65
i think i put one file here

[2021-05-20 15:46] nbransby commented on #64
Ok, maybe its been deleted already - if it happens again please attach the file, I will close this issue for now, thanks

[2021-05-20 15:46] #64 closed

[2021-05-20 15:50] harleyq44 commented on #64
im sorry i posted the file, but its new

[2021-05-20 15:53] harleyq44 commented on #64
[TeamHub.teamhub-unresponsive.cpuprofile.txt](https://github.com/GitLiveApp/GitLive/files/6517217/TeamHub.teamhub-unresponsive.cpuprofile.txt)

[2021-05-20 16:00] nbransby commented on #65
great thanks!

[2021-05-20 16:02] harleyq44 commented on #65
👌

[2021-05-21 03:51] #63 closed

[2021-05-28 08:18] Reedyuk commented on #51
Closing issue

[2021-06-06 11:15] JoanMbela opened #66 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `teamhub`
- Extension Version: `12.1.4`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-06 11:18] nbransby commented on #66
You forgot to paste 🙁

[2021-06-07 09:07] FredCoen opened #67 "Trouble signing into VS Code"
Trouble signing in to vscode. I get here https://app.git.live/github/authorization?code= after github oauth(I removed the code) then connection times out.

[2021-06-29 07:09] Rajinder-phr opened #68 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `teamhub`
- Extension Version: `12.1.5`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-29 07:12] #68 closed

[2021-07-07 07:00] nrafal opened #69 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `teamhub`
- Extension Version: `13.0.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:[TeamHub.teamhub-unresponsive.cpuprofile.txt](https://github.com/GitLiveApp/GitLive/files/6775030/TeamHub.teamhub-unresponsive.cpuprofile.txt)

[2021-07-07 07:03] nrafal commented on #69
I can't get it to work. I've installed app on JIRA, BitBucket. I have successfully authorized myself, but extension just hangs and do nothing :(

[2021-07-08 15:42] harleyq44 opened #70 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `teamhub`
- Extension Version: `13.0.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-08 15:43] harleyq44 commented on #70
[code]

[2021-07-08 21:02] nbransby commented on #44
@virtulis @J3m5 is this solved for you guys now? Now, if the branch no longer exists on the remote then the changes do not show

[2021-07-08 21:49] virtulis commented on #44
Is that for 13.0.0? I most certainly see "changes" from a person who hasn't even opened the project (or GitLive?) for months, in a branch long deleted.

[2021-07-09 16:27] michaelprichardson commented on #69
Hi @nrafal,

Thanks for reporting this to us! We have managed to reproduce this issue and are working on a fix.

[2021-07-22 11:59] nbransby commented on #44
@virtulis can you share a screenshot of the gutter popup for these changes?

[2021-07-22 20:08] mjlomeli opened #73 "Service Questions"
Is a call always required to live share? I'm required to be connected via Zoom and be sent links from other professionals who are required to use Live Share by their employers. Although I'd rather use GitLive, do you provide a way to allow us to connect without compromising their requirements?

[2021-07-25 13:22] maartenbergmans opened #74 ""GitLive Show other's changes" is greyed out"
![image](https://user-images.githubusercontent.com/70018656/126900584-2034a2e0-ecdd-4b7d-addf-36185d4804cc.png)
For some reason in the phpstorm editor Git Live shows other changes is disabled.
The plugin is working. I can see my teammates and the files they have in use.

[2021-07-26 12:21] maartenbergmans commented on #74
Found the issue. I used tortoise git instead of phpstorm git.
It works when I pulled the last version of the application via tortoise git. When different users are on the same version it works fine.

[2021-07-26 12:21] #74 closed

[2021-07-26 12:28] nbransby commented on #74
Hi @maartenbergmans its disabled when are not changes to show (your teammates haven't made changes to the file). Was that the case too?

[2021-07-26 14:57] nbransby commented on #73
We are adding a feature to codeshare without placing a call in the next release

[2021-07-30 04:59] maartenbergmans commented on #74
Thank you for the feedback, this was not the case. But if one of us worked on a different starting version (did not pull via tortoise git before the person making the change). It stayed grayed out. We linked in phpstorm now our git-account directly which solves the problem.

We like your software very much now!

[2021-07-30 07:24] #73 closed

[2021-07-31 14:24] jayjah opened #75 "[Feature] Jetbrains Space support?"
Do you plan to support [Jetbrains Space Repository](https://www.jetbrains.com/help/space/repositories.html) in near future?

[2021-08-04 18:30] clement-boret opened #76 "intellij not showing conflicts"
Hello.
I am intersted in the "conflict detection feature" your plugin provides.

I installed it on Intellij 2021.1.2
I see at the bottom of the screen the gitLive tab (as on this picture: https://docs.git.live/uploads/jetbrains-installed-3.jpeg)

I have 3 branches in my repo:
-main
-first
-second

they all "points" to the same commit.
I create a new commit on "first" branch that modifies "myFile.j

[2021-08-05 14:27] nbransby commented on #76
Hi @clement-boret, currently the plugin only show changes from branches that are actively being worked on - so checked out by you or one of your teammates, you can see this by opening a second clone of your repo thats on the main branch whist your original clone is still on the second branch.

We will be adding the option to see changes from all branches in an update coming soon.

[2021-08-11 02:37] schar opened #77 "Failed to load base revision"
Attempting to collaborate on a project. Gitlive works intermittently, but some of the time, seemingly without rhyme or reason, we start getting errors "Failed to load base revision of [file]". Occurs for some files in project directory, not all.

[2021-08-11 10:29] FredCoen commented on #77
Hi, @schar thanks for reporting. Have you all updated to version plugin version 14.0? If one of you hasn't you should not be able to codeshare in the first place and get the errors you mentioned above. Can you try again and report if the error persists?

With regards to the commands not being found, we will investigate and get back to you!

[2021-08-11 12:57] diegoasanch opened #78 "Could not determine Git hosting service from remote URL"
Hi!

I get the following message `Could not determine your Git hosting service from your remote URL` when trying to use the extension while on a repo in which the remote URL has the form `git@github.com-userName:repository_name.git`. I use it this way since I use different SSH keys for my GitHub accounts.

This is how it looks on VScode
![image](https://user-images.githubusercontent.com/87026771/1

[2021-08-11 15:52] schar commented on #77
Yes, we both have 14.0, though this was happening before that update as well.

[2021-08-11 18:15] nbransby commented on #77
@schar where is this message appearing? is it when trying to view a diff of your teammate's changes?

[2021-08-11 18:16] schar commented on #77
@nbransby Yes

[2021-08-12 12:00] clement-boret commented on #76
@nbransby
Thank you for you answer. I am still trying to get something out of your plugin for the git conflict detection....
I however do not understand how to proceed:
1) Does the git conflict detection works if I only have a LOCAL repo ? (ie I do not have any remote setup)
2) here is an example step by step where I would expect to see some conflict detection:

I create a git repo with only one f

[2021-08-12 14:00] nbransby commented on #76
1. No, as its designed for teams currently it requires a remote - check the GitLive window that should be showing your repo collaborators before the merge conflicts will show
3.  I mean you need to have both branches checked out as your HEAD, so you would need two clones of the repo on your machine in your case

[2021-08-13 07:05] clement-boret commented on #76
@nbransby  Thank you for the explanation.
I finally managed to get something shown by the plugin.

<img width="118" alt="Screenshot 2021-08-13 at 08 52 34" src="https://user-images.githubusercontent.com/73640971/129316769-65eeb589-95ea-46c1-b40e-1eed907acf1e.png">

Now that I understand it a bit more I have further question/suggestion:

1) When I open the file, even if I have not edited it yet , I

[2021-08-16 12:13] Reedyuk commented on #78
we are looking into it

[2021-08-17 10:29] Reedyuk commented on #78
HI @diegoasanch - is this a custom git config? I havent seen this before. If for now, we currently dont support custom git configs, the work around is to change the remote to the real remote.

[2021-08-17 12:23] diegoasanch commented on #78
Hi! @Reedyuk, the only modification made to the git config is on the remote url as mentioned, I'm using this approach [Using multiple GitHub accounts with SSH keys](https://gist.github.com/jexchan/2351996)

[2021-08-17 12:28] Reedyuk commented on #78
Yes its a fairly common pattern when dealing with multiple ssh keys. Its in the roadmap to support git config, i will speak with my colleagues about making this a higher priority. I will let you know when its released in this ticket.
Unfortunately for now, to use gitlive, you will need to keep that remote url the actual url and not an alias.

[2021-08-17 20:32] diegoasanch commented on #78
Ok, I guess I'll do it that way until it's implemented. Thanks!

[2021-08-22 21:08] nbransby commented on #75
Hi @jayjah we'll add it to the roadmap, the more likes this issue gets the more we will prioritise it!

[2021-08-22 21:11] nbransby commented on #76
@clement-boret we'll try and add both these features to the next major release (thats monthly-ish)

[2021-08-24 08:23] virtulis opened #79 "14.0.1 completely broken?"
At least in WebStorm EAP it doesn't seem to even install properly. As in, installation finished, but then this happens

[code]

"Report to Gitlive" is even funnier:

[code]

"Invalidate caches" doesn't seem to help. 14.0.0 worked fine except for crashing on new uncommitted files (which I certainly planned to report).

Good morning :)

[2021-08-24 08:55] guiohm opened #80 "crash when opening Rider"
EDIT: seems like a duplicate of #79 but in Rider.
I installed the plugin but it crashes when I open a solution.
I clicked on 'Report to GitLive', the window stays on the state 'submitting...', so I'm not sure if it works.
Here is the stack trace:

`com.intellij.diagnostic.PluginException: Cannot create class dev.gitlive.ProjectService (classloader=PluginClassLoader(plugin=PluginDescriptor(name=Git

[2021-08-24 13:05] jvdyck commented on #79
Same problem and same error in latest PhpStorm.

[2021-08-24 15:36] Reedyuk commented on #79
Hi,
Thanks for reporting the issue, i have also reproduced the issue and will roll out a fix asap.

For now i would recommend you use the last working version (14.0.0).

[2021-08-24 16:12] Reedyuk commented on #79
I have removed 14.0.1 from the market place, please reinstall 14.0.0 for now. I have also uploaded 14.0.2 which is awaiting approval from Jetbrains.

[2021-08-24 16:13] Reedyuk commented on #80
@guiohm - please refer to my response in https://github.com/GitLiveApp/GitLive/issues/79

[2021-08-25 10:10] Reedyuk commented on #80
14.0.2 is now out and should fix your problem.

[2021-08-25 10:10] #80 closed

[2021-08-25 10:11] Reedyuk commented on #79
14.0.2 is now out and should fix your problem.

[2021-08-25 10:11] #79 closed

[2021-08-25 16:50] jvdyck commented on #79
Yes, this fix seems to be working. Thank you!

[2021-08-27 18:17] schar opened #83 "GitLive shows conflicts in gutter when there are none"
My team member made changes to a file. I cherry-picked these changes, making our local copies identical. But GitLive insists that there is now a conflict, flagging the new cherry-picked text in the gutter. The diff shown on mouseover says that there is a deletion and an addition, nonsensically since the `+` and `-` are actually identical. Subsequent cherry-pickings do nothing.

[2021-08-28 22:28] schar commented on #83
Unfortunately I'm not. The repo we're working on is private. Happy to help some other way if possible.

[2021-08-31 13:13] #76 closed

[2021-09-20 19:27] dpankros opened #84 "GitLab Integration: The redirect URI included is not valid"
From https://git.live/ scroll down to GitLab in the “Integrate Your Stack” section. Click on “Integrate Now” for GitLab.
After authenticating to GitLab, the following is received:

[2021-09-20 19:29] Reedyuk commented on #84
@dpankros - we will have a look into it for you.

[2021-09-21 09:52] michaelprichardson commented on #84
Hi @dpankros,

Thanks for reporting this. We have fixed the Gitlab integration URL and should be working now

[2021-09-21 13:34] dpankros commented on #84
That link now works.  Thanks.

  When I completed the onboarding flow (following the additional JIRA integration path) it prompted me to install in my IDE and gave another dead link: https://git.live/instal
![Screen Shot 2021-09-21 at 9 33 00 AM](https://user-images.githubusercontent.com/7989367/134180168-ba48d110-df0b-422c-9c90-411cb1b8776b.png)
Clicking install leads to
![Screen Shot 2021-09-21

[2021-09-22 09:55] amogorkon opened #85 "Can't work on issues with long names, silent exception"
I really like the feature of gitlive that encourages feature-branches with the `#-name` schema and asks the user to pick an issue, which is a great workflow. However, it confused me a great deal when I tried to pick an issue that had slightly longer name than usual (`It should be possible to use a package via "package:module", ("package", "module") or kwarg package="package", module="module"`). I

[2021-09-22 09:58] Reedyuk commented on #85
Hi @amogorkon - thanks for the feedback.
Can you show me a screenshot of what you mean? Are you saying you see the issue but when you click it, it doesn't do anything?
We actually do truncate the length, but maybe we need to adjust this more.

[2021-09-22 13:25] michaelprichardson commented on #84
Thanks again for reporting this to us @dpankros

[2021-09-22 16:42] michaelprichardson commented on #84
@dpankros we've fixed the broken URLs. I'm going to close the issue.

[2021-09-22 16:42] #84 closed

[2021-09-27 15:57] Reedyuk commented on #85
@amogorkon - i have investigated your issue and was unable to reproduce the issue.

Maybe you could give me some more information on the issue? Can you make sure you have the latest plugin and try again.

<img width="837" alt="Screenshot 2021-09-27 at 16 55 16" src="https://user-images.githubusercontent.com/3853006/134943125-8815e486-ed0e-41a7-b558-1c56db1a5d9c.png">
<img width="1341" alt="Screens

[2021-09-28 16:28] amogorkon commented on #85
Strange.. I'll try again and see if I can reproduce with a new, very long issue.

[2021-09-28 16:43] amogorkon commented on #85
OK, now. The github issue title limit is 256, so I made an issue with exactly that length: https://github.com/amogorkon/justuse/issues/281
It seems to work now, but two other, small issues I noticed with the indicators: the underscores in the title are missing, which probably should be handled like whitespace and just be replaced with single-underscores and no indication of truncation in the statu

[2021-09-28 16:46] amogorkon commented on #85
I'll try to replicate the original issue to rule out special character issues..

[2021-09-28 16:51] amogorkon commented on #85
I just noticed that the status bar button is missing where i can select a new issue :-s

[2021-09-28 16:55] amogorkon commented on #85
Alright, I made a new issue: https://github.com/amogorkon/justuse/issues/282
This time, it looks like it's working as it should, also no missing status bar button (even though it's very large and should probably be truncated a few characters past the number like `#282 gitlive test[...]`
![Unbenannt](https://user-images.githubusercontent.com/16521496/135131425-c0676101-8027-4740-8eaa-a195bce97faa.P

[2021-09-28 16:57] Reedyuk commented on #85
strange that it didn't work first time though, the only thing that i can think of, was you were using an older version of the extension(was several releases back) where i made the change to truncate the issue length.

[2021-09-28 16:58] amogorkon commented on #85
wait a second.. *all* special characters are missing from the title?
![Unbenannt](https://user-images.githubusercontent.com/16521496/135132012-86c0302a-dcc7-4cd7-9f31-304d782b7918.PNG)

[2021-09-28 16:58] Reedyuk commented on #85
Yes, that is required, otherwise it is not possible to create the git branch.

[2021-09-28 17:02] amogorkon commented on #85
My release now is v14.0.4, if that is of any use. Well, it seems to work now as it should, albeit with a few rough edges. Thanks for your time and keep up the good work :)

[2021-09-28 17:05] Reedyuk commented on #85
Thanks!
I'm glad its working now, please raise any other issues you may find.
I will close this issue, but re-open it if you find a reproducible example.

[2021-09-28 17:05] #85 closed

[2021-09-29 21:57] darkvertex opened #86 ""No git repositories found in this project" while running under WSL"
I'm running under WSL2 (Windows Subsystem for Linux) and the extension is installed and let me authenticate and all, but it's not detecting any git repositories in my VSCode workspace.

It's a single-root workspace, with a git repo at the root, nothing weird. origin url points to a private bitbucket repo.

---

If I try a repo direct, outside of WSL, it seems to detect something but I actually hav

[2021-09-29 22:56] nbransby commented on #86
Hi @darkvertex yes I am afraid only admins can install the [GitLive for Bitbucket](https://marketplace.atlassian.com/apps/1220847/gitlive-for-bitbucket?tab=overview&hosting=cloud) app on a Bitbucket team.  Currently we require this app to be installed before any team member can use GitLive with repositories from that team.

We know this kinda sucks and we are actively working on removing this requ

[2021-09-29 22:59] nbransby commented on #86
As for the WSL issue (which I assume is inmeterial for you now) we will try and reproduce our end

[2021-09-29 23:03] nbransby commented on #77
@schar I believe the "Failed to load base revision of [file]" issue has been fixed but the other issue you mention: "command 'git.live.showAccountList' not found", and "command 'git.live.viewSettings' not found", I have never seen before, are you still getting this?

[2021-09-29 23:03] darkvertex commented on #86
Indeed if I have to ask IT to install something to the whole workspace I'd rather not, so the WSL issue is immaterial to me until the Bitbucket integration is improved. It would be nice if you can fix it eventually though.

Keep me posted. Thank you!

[2021-09-29 23:04] nbransby commented on #70
We have improved the code load time in the latest version - please let us know if you still get this issue

[2021-09-29 23:04] #70 closed

[2021-09-29 23:05] #66 closed

[2021-09-29 23:06] #65 closed

[2021-09-30 06:46] Reedyuk commented on #78
Hi @diegoasanch - Great news, we now support git config, can you make sure you have the latest plugin and try it out. I'm going to close this issue now but feel free to reopen it, if it doesnt work for you.

[2021-09-30 06:46] #78 closed

[2021-09-30 08:36] michaelprichardson commented on #69
We have fixed this issue, please update to the latest version of GitLive

[2021-09-30 08:36] #69 closed

[2021-10-08 14:16] SuDa2103 opened #87 "Installation on Repositories containing Spaces in the Repository Name"
When a repository name contains a space, GitLive is not being installed and run properly on the repo, even though it exists on our database.

[2021-10-10 17:40] schar commented on #77
no, but to be frank, the unreliability forced us to find other tools

[2021-10-10 18:50] #83 closed

[2021-10-10 18:53] #31 closed

[2021-10-28 06:12] ValentinVignal opened #89 "VSCode - Code action never finishes"
I'm using the VSCode extension on a flutter project.

In my `settings.json` I have:

[code]

When the extension is enabled, every time I try to save a file, I get the info message

[code]

which never finishes and blocks VSCode other commands/actions.

![image](https://user-images.githubusercontent.com/32538273/139197181-989fd31d-9c5f-4867-9b90-c8bc407a919c.png)

---

When I disable the extension,

[2021-11-02 02:38] ValentinVignal commented on #89
Hello @Ygnys, here is a list of the extension that could maybe impact/conflict. (It didn't put all of them as I have a lot of them):
- [Awesome Flutter Snippets](https://marketplace.visualstudio.com/items?itemName=Nash.awesome-flutter-snippets)
- [Code Spell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker)
- [Dart](https://marketplace.visualstudio

[2021-11-02 12:56] Ygnys commented on #89
Hi @ValentinVignal, thanks for the reply.
Would it be possible for you to report a performance issue in VS Code as well?

To report a performance issue please use the 'Report Issue' command available in the 'Help' menu. In the Issue Reporter window that shows up, set the issue type to 'Performance Issue', file on 'An Extension' and then choose GitLive. Thanks!

![image (4)](https://user-images.git

[2021-11-03 01:54] johncadengo opened #91 "Gitea support"
Just wondering if there is a plan for Gitea support.

[2021-11-03 08:14] ValentinVignalNovade opened #92 "Dart code action never finishes"
Issue Type: <b>Performance Issue</b>

I'm using the VSCode extension on a flutter project.

In my `settings.json` I have:

[code]

When the extension is enabled, every time I try to save a file, I get the info message

[code]

which never finishes and blocks VSCode other commands/actions.

![image](https://user-images.githubusercontent.com/32538273/139197181-989fd31d-9c5f-4867-9b90-c8bc407a919c.pn

[2021-11-03 12:53] Ygnys commented on #87
We've now included a fix for this issue.

[2021-11-03 12:53] #87 closed

[2021-11-04 09:21] Ygnys commented on #92
Thanks for reporting, we will look into it.

[2021-11-04 09:32] ValentinVignal commented on #89
@Ygnys Since I created another issue https://github.com/GitLiveApp/GitLive/issues/92 , should I close this one ?

[2021-11-04 10:24] Ygnys commented on #89
Yes, thanks!

[2021-11-05 09:51] Ygnys commented on #89
I am going to close this issue, please refer to #92 instead

[2021-11-05 09:51] #89 closed

[2021-11-05 19:52] Ygnys opened #93 "High memory usage in VS Code"

[2021-11-10 10:14] snekcz commented on #86
Actually, it seems the extension is not supported in remote development workspace. Can you add support for remote workspaces please?

[2021-11-10 12:25] snekcz commented on #86
We just wanted to try this extension. 3 developers, using VS Code. Two of us have no issue to connect, - those who store their repos locally. But I have stored all my files inside WSL2 and using VSCode remote development extensions to access them. GitLive extension says "GitLive was unable to find the built-in Git extension. Please make sure the Git extension is enabled." on start and shows "No re

[2021-11-10 15:04] Steakeye commented on #86
@snekcz Thanks for reporting this and also the suggested solution; we're just confirming it works and doesn't have any other side effects. All being well the required change will go into our next release.

[2021-11-12 13:02] snekcz commented on #86
@Steakeye Actually there seems to an issue. When I have the extension activated, the VSCode git process randomly overloads CPU by continuously invoking these commands:
[code]
I don't know what it causes or if it happens only to me (running the extension in remote workspace) or if it is a common situation. Even not sure if the issue is in GitLive or internal VSCode Git extension.

[2021-11-12 13:13] nbransby commented on #86
@snekcz that looks like a nasty one - we'll investigate to see if it is our end and if so release a fix as soon as possible, thanks for reporting

[2021-11-18 02:17] ValentinVignal commented on #92
To add some details, it also get a lot more worse when I open and work on a file that has some potential conflict highlighted.

I hope this can help you troubleshoot the issue.

[2021-11-18 10:23] Ygnys commented on #92
Thanks, @ValentinVignal, we're working on reproducing the issue. Could you try removing `"source.organizeImports": true` and let us know if there's any difference?

[2021-11-22 02:14] ValentinVignal commented on #92
@Ygnys When I remove `"source.organizeImports": true`, it eventually manages to finish to save the file. But it is taking quite long (at least 5s).

[2021-11-26 11:47] Steakeye commented on #86
@darkvertex the solution provided by snekcz will be going into our next release, it would be great if you could let us know if you encounter any further issues once you are able to upgrade.

[2021-11-26 13:16] byymster opened #94 "Support for JetBrains EAP"
We have self hosted Gitlab and security restriction for our network.
Can you please provide IP's (or ranges) of Git.Live so we can allow this connections to be able make integration?

[2021-11-28 01:49] michiexe opened #95 "Bugged Session"
So me and my friend are often working together in IntelliJ via GitLive but we have encountered an issue for almost a week now. So we didn't end the code-sharing session before shutting down IntelliJ and our computers. A day later we wanted to continue working together but couldn't open a new session. Both of our icons in the GitLive Toolbar are now constantly marked as the color red and we have no

[2021-11-28 08:52] Reedyuk commented on #95
Thanks for reporting, i have found your record of the stuck call and deleted it, you should be able to call/use gitlive again.
We will look into the issue separately, thanks for raising it.

[2021-11-29 13:56] Ygnys opened #96 "GitLive offline mode"
An offline mode removes installation requirement and supports a number of our features without sending any traffic outside your network.

[2021-11-29 13:58] Ygnys commented on #94
Hey, unfortunately, our setup doesn't include static IPs we could share. We are in the process of adding an offline mode that supports a number of our features without sending any traffic outside your network, maybe this will be useful in your case. The good news is it will be available in the next few months. I have opened a separate issue for that https://github.com/GitLiveApp/GitLive/issues/96

[2021-12-04 10:19] Dylan0203 opened #97 "vscode Sign in with GitLab"
Was having trouble working on some of the projects with the GitLab group
<img width="317" alt="Screen Shot 2021-12-04 at 18 07 01" src="https://user-images.githubusercontent.com/16032822/144705601-79d1f96d-a546-4805-ac60-6b04908c1130.png">
then I removed the extension & revoke app access
now I can never sign in with GitLab

after reinstalling & signing in with GitLab that seems successfully redire

[2021-12-06 12:47] SP-84 commented on #97
Just to say that I am stuck with the same issue, I tried to reinstall the extension and to reload vscode, but it refuses to sign-in to my GitHub account. Maybe there is a bug with the current vscode version ?
![Screenshot_20211206_134400](https://user-images.githubusercontent.com/66826625/144848435-6614683d-bd0a-462a-a500-52efd6a88a5f.png)

[2021-12-06 13:36] SP-84 commented on #97
Also see : https://github.com/microsoft/vscode/issues/92972#issuecomment-625751232
Installing `gnome-keyring` (and/or additionnal packages depending on your Desktop Environment) seems to fix the issue.

[2021-12-07 15:49] Ygnys commented on #97
@Dylan0203 @SP-84 Thanks for reporting! We have now included a fix for this, so you should be able to sign in again.

[2021-12-08 15:31] Dylan0203 commented on #97
@Ygnys

After I revoke the GitLab application access, I can sign in again.
thx!!

[2021-12-08 15:31] #97 closed

[2021-12-15 12:38] #95 closed

[2021-12-20 00:52] seonglae opened #98 "gitlive vscode extension error"
![image](https://user-images.githubusercontent.com/27716524/146697440-b872eea0-3440-46de-88f8-99f1e4f8416e.png)

with this error

![image](https://user-images.githubusercontent.com/27716524/146697453-5b26f905-00d8-46d8-a138-86e08a61c56f.png)

no repo found

- VSCode 1.63.2
- Gitlive 14.0.8
- Azure Devops

[2021-12-20 00:55] seonglae commented on #98
I resolved error with switch to pre-release version

![image](https://user-images.githubusercontent.com/27716524/146697585-9360ee1f-ee59-47f5-8919-918f36cf034f.png)

[2021-12-20 00:55] #98 closed

[2021-12-20 02:33] seonglae opened #99 "Gitlive has stopped due to an uncaught exception"
![image](https://user-images.githubusercontent.com/27716524/146703476-0d576d93-7ec5-4719-afa1-f108b4322ae5.png)

![image](https://user-images.githubusercontent.com/27716524/146703479-433b31d6-3c64-480b-ac1c-66f4c9d4559e.png)

- vscode 1.63.2
- gitlive 14.0.8
- azure devops

Can't I just restart gitlive only without need to restart whole vscode?

[2021-12-20 05:15] seonglae opened #100 "azure devops cherry pick not working"
![image](https://user-images.githubusercontent.com/27716524/146715197-8377c9ef-87cf-4e1e-a0c3-0ca25b3be06b.png)
- vscode 1.63.2
- gitlive 14.0.8
- azure devops

Cherry pick button not activated and not working

[2021-12-20 12:38] Steakeye commented on #100
Hi @seonglae, I'm just reaching out to check that the branch you were trying to cherry-pick belonged to the same repository as the branch you are were working on. Is this correct?

[2021-12-20 16:24] seonglae commented on #100
Yes, same repo, different branch, different person

[2021-12-20 22:25] Steakeye commented on #100
Would it be possible for you to email a video showing an example of an unsuccessful cherry-pick action to support@git.live?

[2021-12-21 03:12] seonglae commented on #100
I emailed it

[2021-12-21 16:31] Steakeye commented on #100
Thanks, we're looking into it

[2022-01-02 18:41] mohammad-fahad opened #101 "My GitLive is installing but not working!"
I am using macOS version: 12.0.1, after I have installed GitLive the extension is being installed but not working, I couldn't connect it with Github, instead, it's showing me an error at the bottom left corner of my VSCode saying (command 'git.live.showAccountList' not found).

[2022-01-03 16:32] MuttakinHasib opened #102 "Requesting for call Ringtone feature"

[2022-01-04 14:23] Steakeye commented on #101
Hi @mohammad-fahad, please could you give us the VSCode version you're running as well as confirm the version of GitLive that you're using?

[2022-01-04 14:49] Ygnys commented on #101
@mohammad-fahad could you also send us a report from VS Code? To do it, navigate to Command Palette  > Report Issue to GitLive. Thanks!

[2022-01-05 12:27] sschneider-ihre-pvs opened #103 "GitLab Self-Hosted with no Internet"
It would be nice if GitLive would also work with git repositories that are on servers that have no connection to the internet.

[2022-01-05 12:31] Reedyuk commented on #103
@sschneider-ihre-pvs - totally agree, its on the roadmap.

[2022-01-05 12:51] sschneider-ihre-pvs commented on #103
Where in the roadmap is it? More the near future or the far?

[2022-01-05 15:45] Ygnys commented on #103
@sschneider-ihre-pvs Near future! It will be available in the next few months. There is a separate issue for that which we will update with more details: https://github.com/GitLiveApp/GitLive/issues/96

[2022-01-05 16:15] Steakeye commented on #99
Hi @seonglae, would it be possible for you to provide more details on how to reproduce this error?
Ideally, we'd be grateful if you could send us a bug report from VS Code.

To do it:

- navigate to Help > Report Issue.
- In the Issue Reporter window that shows up, set the issue type to 'Bug Report', select source: 'An Extension', then choose GitLive.

![image](https://user-images.githubuserconten

[2022-01-06 05:31] seonglae commented on #99
I forgot to reproduce, sorry

[2022-01-06 05:31] #99 closed

[2022-01-10 09:23] DorShm opened #104 "Github enterprise support"
Would be amazing if you could add support for Github enterprise :)

[2022-01-10 13:19] Ygnys commented on #91
Hi @johncadengo, sorry for the late reply! The good news is that GitLive offline mode which will be available in the next couple of months will provide basic support for all services, including Gitea. There is a separate issue for that which will be updated with more details soon: https://github.com/GitLiveApp/GitLive/issues/96

[2022-01-10 14:03] Ygnys commented on #104
Hi @DorShm!  We are actively working on implementing GitLive offline mode which will provide basic support for all the services, including GitHub Enterprise. It will be available in the next couple of months -  there is a separate issue for that which will be updated with more details soon: https://github.com/GitLiveApp/GitLive/issues/96 :)

[2022-01-11 13:57] Ygnys commented on #102
Hi @MuttakinHasib! Thanks for this suggestion, we will work on adding it in the future. If the calling notifications in the IDE are hard to notice, you can enable OS-level notifications via your browser, which are more noticeable. Next time you answer a call, your browser should prompt you to enable push notifications for GitLive. Once enabled you will receive notifications for incoming calls insi

[2022-01-11 13:59] MuttakinHasib commented on #102
@Ygnys  how can i enable OS Level notification ? I'm using macOS

[2022-01-11 16:33] Ygnys commented on #102
@MuttakinHasib  Next time you answer a call, your browser should prompt you to enable push notifications for GitLive.

![2884AA01-E773-4EC9-A586-07A5ACDCAACA_4_5005_c](https://user-images.githubusercontent.com/51296866/148982322-a3729cd6-f7c0-4add-a337-0e06f02897d5.jpeg)

If it doesn't happen:
- Got to _System Preference_ > _Notifications_ and make sure that notifications are enabled for your brow

[2022-01-11 18:08] MuttakinHasib commented on #102
not working call coming from vscode. not browser (firefox)

[2022-01-11 19:15] MuttakinHasib commented on #102
now it's working. Thank you <3

[2022-01-11 19:15] #102 closed

[2022-01-18 22:15] Adithr123 opened #105 "VScode web keeps giving me errors when i try running it. I cant even sign in to git.live"
![image](https://user-images.githubusercontent.com/85714072/150027346-4c717dd3-bd66-463e-995a-53a2e6175136.png)

[2022-01-18 22:17] Adithr123 commented on #105
![image](https://user-images.githubusercontent.com/85714072/150027616-1b3f4452-a488-4e55-8d4c-8090ff881143.png)

[2022-01-18 22:26] Adithr123 commented on #105
to reproduce, go to vscode.dev, install gitlive. Then on github, connect gitlive. Go back to gitlive, then open a repository. Try to sign in, and it gives errors.

[2022-01-20 13:17] Steakeye commented on #105
Hi @Adithr123!
We're pleased to know that our users are wanting to use GitLive with web based IDEs! Unfortunately this is a feature we're still working on with the help from the VSCode team but it's not production ready. We'll be sure to reach out to you as soon as we've got GitLive working on vscode.dev and other VSCode web IDEs, it's in our pipeline!

[2022-01-20 17:13] Adithr123 commented on #105
Ok thanks!

[2022-01-20 18:09] Steakeye commented on #101
Hi @mohammad-fahad just wondering if you were able to share a bug report with us?

[2022-01-20 19:35] mohammad-fahad opened #106 "Issue"
Issue Type: <b>Bug</b>

I am using macOS version: 12.0.1, after I have installed GitLive the extension is being installed but not working, I couldn't connect it with Github, instead, it's showing me an error at the bottom left corner of my VSCode saying (command 'git.live.showAccountList' not found).

Extension version: 14.0.8
VS Code version: Code 1.60.1 (Universal) (83bd43bc519d15e50c4272c6cf5c1

[2022-01-20 19:36] mohammad-fahad commented on #101
Im sorry for the delay guys.

this is the link to my bug report: https://github.com/GitLiveApp/GitLive/issues/106

[2022-01-21 11:13] Steakeye commented on #106
Hi @mohammad-fahad,

Thanks for providing this information to us. Can I also confirm with you that you have VSCode LiveShare installed? We understand that the latest LiveShare plugin has some issues that affect us because GitLive integrates with LiveShare when it's present.

We have a fix for the LiveShare issue coming in our next release, so we'll let you know when that's ready for you to try 🙂 I

[2022-02-02 18:29] Ygnys commented on #86
@darkvertex Great news, we now support offline mode which removes installation requirement! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-JetBrains) and [GitLive's EAP for VS Cod

[2022-02-02 18:46] Ygnys commented on #103
@sschneider-ihre-pvs Great news, we now support offline mode which supports certain features without having to use an external repository service! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Acce

[2022-02-02 18:48] Ygnys commented on #91
@johncadengo  Great news, we now support offline mode which provides basic support for all the services, including Gitea! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-JetBrains)

[2022-02-02 18:50] Ygnys commented on #104
@DorShm  Great news, we now support offline mode which provides basic support for all the services, including GitHub Enterprise! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-Jet

[2022-02-02 18:53] Ygnys commented on #96
Great news, we now support offline mode! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-JetBrains) and [GitLive's EAP for VS Code](https://blog.git.live/Introducing-GitLive-Early-

[2022-02-02 20:15] johncadengo commented on #91
@Ygnys thanks for the update. I'll give it a try and let you know how it works. Is there somewhere that spells out what features are included in the basic support of offline mode?

[2022-02-03 07:24] sschneider-ihre-pvs commented on #103
Sadly, that doesn't seem to work at all.

[2022-02-03 07:24] sschneider-ihre-pvs commented on #103
I think maybe just appearing to be offline is not the same as being ofline
![image](https://user-images.githubusercontent.com/86342787/152298981-6771abac-15d7-4a04-8d0a-bff51dfcdf65.png)

[2022-02-03 07:29] nbransby commented on #103
Hi @sschneider-ihre-pvs correct that setting is just to appear offline and has nothing to do with the new functionality.

Can I ask what is not working exactly?

[2022-02-03 07:29] sschneider-ihre-pvs commented on #103
Only thing that does work is I see branches of co-workers

[2022-02-03 07:33] sschneider-ihre-pvs commented on #103
Thing is, I don't know what should actually work

[2022-02-03 07:33] nbransby commented on #103
You should also see any changes from those branches to the file you have open in the gutter of your editor.

Is there a specific feature you were wanting to use?

[2022-02-03 07:37] sschneider-ihre-pvs commented on #103
Ok then maybe no one is working on my branch currently. Yes the possible merge conflict view is the main thing. I will test that then

[2022-02-03 07:44] sschneider-ihre-pvs commented on #103
At least I got one error now
![image](https://user-images.githubusercontent.com/86342787/152301309-db4557b4-4a9e-4181-86b4-2888ae58293e.png)

[2022-02-03 07:45] sschneider-ihre-pvs commented on #103
and an empty source control expansion panel
![image](https://user-images.githubusercontent.com/86342787/152301422-0e4773cf-d037-4c45-8c52-3a4f6890e0e3.png)

[2022-02-03 08:07] sschneider-ihre-pvs commented on #103
![image](https://user-images.githubusercontent.com/86342787/152304170-2af5b2fc-57d3-4fd7-a1fc-a3dd1fc7925f.png)

[2022-02-03 09:45] michaelprichardson commented on #103
Hi @sschneider-ihre-pvs, could you please explain the steps to how you got these errors?

[2022-02-03 09:59] sschneider-ihre-pvs commented on #103
I just opened the gitlive panel

[2022-02-03 10:16] Ygnys commented on #91
Hi @johncadengo , these are the highlights of the newest EAP version. Once it's out of preview, we will update the documentation and publish a blog post that will go through all the features in detail.

- The team window and gutter indicators now work offline so you can use them without having to sign-in or install GitLive on your Git hosting provider.
- Also in offline mode only the data from you

[2022-02-04 09:01] Ygnys commented on #106
Hi @mohammad-fahad, the latest version is now available in the VS Code marketplace and marked as a pre-release (here you can find more on [GitLive's EAP for VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-VSCode)). Will be happy to hear how it works for you!

[2022-02-04 09:18] Ygnys commented on #100
Hi @seonglae, the latest version is now available in the VS Code marketplace and marked as a pre-release (here you can find more on [GitLive's EAP for VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-VSCode)). Will be happy to hear how it works for you!

[2022-02-04 09:26] Ygnys commented on #94
@byymster  Great news, we now support offline mode which supports a number of our features without sending any traffic outside your network! To try it out, please make sure to install the latest version of the plugin available in EAP channel for JetBrains and Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Pro

[2022-02-04 09:42] byymster commented on #94
Hi @Ygnys
thanks for the update,
I already tested and looks good, unfortunately eap version of plugin didn't work with eap PhpStorm
Do you plan to add another features to offline mode?

[2022-02-04 10:10] Ygnys commented on #101
I am going to close this issue, please refer to https://github.com/GitLiveApp/GitLive/issues/106 instead

[2022-02-04 10:10] #101 closed

[2022-02-04 16:06] Ygnys commented on #94
@byymster Thanks for reporting, we will look into that issue.
Appreciate your feedback, do you have any specific features in mind that you'd like to see added to the offline mode?

[2022-02-11 13:45] sschneider-ihre-pvs opened #107 "Polling of firestore failing"
Issue Type: <b>Bug</b>

Maybe add a max retry or some feature toggle to disable the polling on firebase urls.

`E Failed to connect to firestore.googleapis.com through proxy`

Extension version: 15.0.1
VS Code version: Code - Insiders 1.65.0-insider (bb221a61d29deabd99ee9431736d04f2175cb596, 2022-02-11T05:19:13.554Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>Sys

[2022-02-11 14:08] nbransby commented on #107
Hi @sschneider-ihre-pvs where you seeing this error?

[2022-02-11 14:11] sschneider-ihre-pvs commented on #107
vscode devtools

[2022-02-21 13:05] Ygnys commented on #93
The fix has been included in the latest version. To try it out, please make sure to install the latest version of the extension available as a Pre-Release for VS Code. (Here you can find more on [GitLive's EAP for VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-VSCode)).

[2022-02-21 13:51] Ygnys commented on #86
@darkvertex @snekcz The fix for the WSL issue has been added to the newest version ([EAP for VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-VSCode)). The latest version fixes also the CPU issues. Would be great to hear how it works for you!

[2022-02-21 14:04] snekcz commented on #86
@Ygnys I can confirm GitLive now runs under WSL also and from the time I have upgraded to EAP, I had no CPU issues (more than a month now).

[2022-02-21 14:24] Ygnys commented on #86
@snekcz thanks for the feedback! Happy to hear it works fine!

[2022-03-04 04:56] relandboyle commented on #86
@snekcz I'm just checking out Git Live for the first time and I'm seeing the same error and symptoms that you described on November 10th.

I'm on Win 10 / WSL2 / Ubuntu and I generally keep everything up to date. I tried Git Live pre-release and it appeared to behave the same way.

Any idea where I should start looking for the cause?

Thank you.

[2022-03-08 20:56] Steakeye commented on #86
Hi @relandboyle,

I've been investigating your issue and I've been able to reproduce it and also record a video demonstrating a workaround that Id like you to try. In the video linked in this post, demonstrates how I select a project that exists in the WSL Ubuntu VM and GitLive fails to load on start but I was able to trigger GitLive into starting by pressing the refresh button in the bottom bar o

[2022-03-09 03:19] relandboyle commented on #86
@Steakeye Thanks for the video.

I don't see that refresh button or the current branch in the status bar. Mine looks like the image below.

This is on a branch with an upstream remote.

I notice in the video that you don't see the error message that I am seeing now, and that snekcz described in November.

Do I have some common setting or feature switched off?

Thank you.

![image](https://user-ima

[2022-03-09 13:50] Steakeye commented on #86
@relandboyle would you be able to share the VSCode version information for you IDE? It can be found under the Help section by selecting About. If you could verify the EAP version you're using that would also be helpful.

Thanks!

![about section under help](https://user-images.githubusercontent.com/8146520/157453695-b1fe51a4-c8b3-43b3-bb6c-6feeb2f1c1ef.png)

[2022-03-09 14:24] Steakeye commented on #86
@relandboyle just thought you'd be interested that I managed to clone your repo and set up two remotes and GitLive was still able to initialise:

![upstream and origin remotes](https://user-images.githubusercontent.com/8146520/157459768-41ef3cbc-c2b1-4132-a941-496620948f75.png)

I also installed GitLens in case there was some reason that the plugins were conflicting but this doesn't seem to be the

[2022-03-09 17:11] darkvertex commented on #86
Hey, I was able to install the prerelease version under WSL2, so.. yay?

Sadly, until it does not require admin rights on the entire Bitbucket and Jira teams, the whole thing is useless to me as I can't use it with my team.

I understand it may seem logical to require this, but it's a big point of friction and I don't see why I can't just associate it to my Bitbucket user (which it let me log in w

[2022-03-09 22:45] AustinAmoruso opened #108 "AWS codecommit support"
Can you support aws codecommit also why doesn't this just work with any git regardless of the hosting?

[2022-03-10 10:55] nbransby commented on #108
Hi @AustinAmoruso you'll be pleased to know our latest version released yesterday does exactly that - support any git repository, you can read about it here: https://blog.git.live/gitlive-15.0-offline-merge-conflict-detection-across-all-branches-for-any-git-repository#offline-mode

[2022-03-10 10:56] #107 closed

[2022-03-10 10:57] nbransby commented on #106
This has been fixed in the latest version

[2022-03-10 10:57] #106 closed

[2022-03-10 11:02] nbransby commented on #103
I believe these issues have been fixed in the lastest version but please reopen if you find that is not the case

[2022-03-10 11:03] #103 closed

[2022-03-10 11:03] nbransby commented on #100
Closing as fixed in latest version

[2022-03-10 11:03] #100 closed

[2022-03-10 11:04] nbransby commented on #96
Closing as this has now been released to stable

[2022-03-10 11:04] #96 closed

[2022-03-10 11:06] nbransby commented on #93
Closing as this has now been released to stable

[2022-03-10 11:06] #93 closed

[2022-03-10 11:08] nbransby commented on #92
Hi @ValentinVignal  could you let us know if you are still experiencing this with the latest version?

[2022-03-10 11:14] nbransby commented on #44
We now have a stale filter for the gutter which ignores changes older than 3 months which is on by default.

Please reopen this issue if this doesn't solve your use case 👍

[2022-03-10 11:14] #44 closed

[2022-03-10 11:27] #67 closed

[2022-03-10 11:33] nbransby commented on #86
Hi @darkvertex we hear you on this and we do have it in the works, currently we only support it for GitHub.

We've also made a big step in this direction recently with the release of offline mode so you should be able to use a lot of our features without the admin access.

You can find out more about that here: https://blog.git.live/gitlive-15.0-offline-merge-conflict-detection-across-all-branches

[2022-03-10 11:44] Ygnys commented on #91
Hi @johncadengo, this has now been released to stable. Here is the blog post that runs through all the new features in detail: https://blog.git.live/gitlive-15.0-offline-merge-conflict-detection-across-all-branches-for-any-git-repository

[2022-03-11 04:26] johncadengo commented on #91
@Ygnys Thanks for the update and including all the new features in the blog post. I'd be interested to know when real-time is supported in a self-hosted git repo. Thanks again.

[2022-03-11 05:18] relandboyle commented on #86
@Steakeye I think it's working now. I'll try to test with a buddy again tomorrow.

To directly respond to your request: VS Code version is 1.65.2 and GitLive version is v15.0.3. I did try the pre-release version but that does not seem to affect my issue.

My issue was finding and enabling the built-in Git extension. I use Git and GH CLI but I'm not sure if I was ever aware of this built-in extensi

[2022-03-11 13:08] Ygnys commented on #91
@johncadengo It's on our roadmap, but I don't have a date l could share publicly yet. Will get back to you as soon as we are ready to announce more details :)

[2022-03-11 13:36] Steakeye commented on #86
@relandboyle glad we got it sorted!
Be on the lookout for the upcoming patch release 😄 we caught a few more VSCode bugs that'll improve certain feature 👍🏽

[2022-03-11 21:24] relandboyle commented on #86
@Steakeye No luck.

At this point, my friend and I have both attempted to sign out and sign back in to GitLive but we are both hung up and unable to log in. When we click the profile icon, we see this text entry field with the placeholder text "Manage your accounts" but we are unable to select anything or enter anything. It's not clear what we're meant to do here.

I am the Org admin and the Org o

[2022-03-14 00:22] KotlinIsland opened #109 "Crash on startup on IntelliJ 2022.1"
<details>
<summary>stacktrace</summary>

[code]
<details>

[2022-03-14 00:40] DetachHead opened #110 "intellij - support gitlab enterprise instances"
the gitlab option here opens gitlab.com, there doesn't seem to be an option to specify a different gitlab instance

![image](https://user-images.githubusercontent.com/57028336/158086748-7ebde5d4-a8c2-4e3e-bce2-4382184759a9.png)

[2022-03-14 00:41] DetachHead opened #111 "intellij - users/branches not visible when not signed in"
from @KotlinIsland's comment below

[2022-03-14 16:43] Ygnys commented on #111
Hi @DetachHead , thanks for reporting this! When you first open your IDE, go to _View > Apparence_ and make sure that _Tool Window Bars_ are enabled. You should be able to see the GitLive icon at the bottom

![Screenshot 2022-03-14 at 17 01 33](https://user-images.githubusercontent.com/51296866/158212435-92ff81db-0ce7-416c-9868-e3c41292457d.png)

After clicking on the icon, the GitLive team window

[2022-03-14 22:01] DetachHead commented on #111
Thanks, but I mean it would be more convenient if it automatically signed me in like the vscode extension seems to do (admittedly I have no idea how it does that)

[2022-03-15 01:00] KotlinIsland commented on #111
@Ygnys
I don't think anything is being signed in, I think it uses git repo information without signing in, it's just that it seems completely broken in Idea:
![image](https://user-images.githubusercontent.com/65446343/158284953-00babe51-7cd7-4a52-b013-0da7f0248996.png)

Compared to VSCode:
![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/65446343/158285058-d1db67e1-1760-4144-a

[2022-03-15 01:19] DetachHead commented on #111
updated the issue

[2022-03-15 01:24] DetachHead opened #112 "vscode - "Manage your accounts" option hangs with loading bar"
it gets stuck here and no account options load:
![image](https://user-images.githubusercontent.com/57028336/158287275-100bf79d-81da-41f7-a9b1-2edbd0e4012d.png)

i'm behind an authenticated corporate proxy if that's relevant, but every other extension has no troubles connecting to the internet as i have my `http_proxy` and `https_proxy` variables set

### vscode
Version: 1.65.1 (user setup)
Commit:

[2022-03-15 18:03] Ygnys commented on #112
@DetachHead Thanks for reporting, we will take a look!

[2022-03-15 19:28] Ygnys commented on #111
Hi @KotlinIsland could you send the screenshot of the whole IJ IDE? Did you manage to locate the sign in button?

The message you are seeing suggests that there are no branches ahead of your default branch in the project you have opened - if that's the case you won't see anything in the offline mode. If there are some branches ahead of your default branch that are older than 3 months you can use "

[2022-03-15 19:29] Ygnys commented on #110
Thanks for this suggestion, we will make sure to add it in the future!

[2022-03-15 23:56] KotlinIsland commented on #111
@Ygnys Doesn't seem to help at all, the plugin seems completely non-functional, as per my previous screenshots, the vscode plugin seems to be working fine.
![image](https://user-images.githubusercontent.com/65446343/158491021-94502a95-a6f3-433c-8ae9-c3e5860b25c5.png)

[2022-03-16 01:05] DetachHead commented on #110
i don't seem to have that option, see https://github.com/GitLiveApp/GitLive/issues/111#issuecomment-1068579622

[2022-03-16 11:22] Ygnys commented on #111
@KotlinIsland, Could you please confirm your GitLive version and IJ version and send us a GitLive report from your IDE? In order to do that, go to _Find Action_ ( ⌘ ⇧ A) > _Report Issue to GitLive_. Click on the _IDE error occurred_ notification, add a message with details and submit. Thanks!

![error-report-3](https://user-images.githubusercontent.com/51296866/158578107-e2f1440d-2e22-4eb0-bd62-99

[2022-03-17 00:46] DetachHead commented on #111
plugin version: 15.0.5
idea version: 2021.3

sent an error report

[2022-03-18 07:44] nbransby commented on #111
@DetachHead could you let us know the remote URLs for this clone you have open in the IDE? You can send them to support@git.live

[2022-03-18 15:45] ainesophaur commented on #110
I seem to have the same issue with my instance of PhpStorm. I have a self hosted gitlab server and the link to "Configure new GitLab Server" never appears. Ive tried a combination of switching between SSH and HTTPS remote urls for git (just in case it mattered.) I also attempted with a fresh clone of the repo from PhpStorm's "checkout from VCS option"

Mac OS X 12.3
PhpStorm 2021.3.2
GitLive 15.0.

[2022-03-18 17:32] Ygnys commented on #110
Hi @ainesophaur @DetachHead could you check if your remote URL is accessible from the internet via HTTP or HTTPS (via the browser)? If the remote URL is accessible only internally, you can only use GitLive in offline mode (the sign-in popup won't appear) or open up port 80 or 443 to allow us to connect.

[2022-03-18 19:45] ainesophaur commented on #110
That would explain it as the self hosted gitlab isnt publicly accessible. Does gitlive only need to hit the API endpoints of gitlab?

[2022-03-19 07:18] DetachHead commented on #111
unfortunately can't as the gitlab instance i'm using is not publicly accessible

[2022-03-21 17:58] Ygnys commented on #111
@DetachHead To sign in to GitLive the repository needs to be accessible via Internet. The offline mode should work properly, I assume you opened different repositories in VS Code and IntelliJ?

[2022-03-21 22:48] DetachHead commented on #111
same repo in both screenshots.

how come the repository needs to be internet accessible? is there any chance of this requirement being removed in the future?

[2022-03-21 23:34] KotlinIsland commented on #111
@Ygnys

This was the same repository :(

I have tested the plugin with a different(public) repository (albeit on a different machine) and it worked flawlessly.

[2022-03-22 02:30] KotlinIsland commented on #111
Is this related? https://dev.to/gitlive/gitlive-now-works-with-any-git-repository-in-vs-code-304o

Does gitlive not support 'offline mode' in Idea?

[2022-03-22 15:58] Ygnys commented on #110
@ainesophaur We check the root/home page for accessibility, if you allow traffic on either port 80 or 443 to your server we should be able to connect

[2022-03-22 19:11] relandboyle commented on #86
@Steakeye No apologies necessary. I appreciate the effort and the attention on this issue. Thank you.

Yes, I can confirm there is a .git/ folder. It's not visible in the VS Code file explorer but it is present in the directory.
I can confirm I'm on version 15.0.5. I did see the sign-in link and I did sign in.
I have reviewed and can confirm that GitLive is installed on the GitHub organization/rep

[2022-03-23 00:06] DetachHead commented on #110
is it possible for that check to be done locally by the extension itself?

[2022-03-23 08:51] nbransby commented on #110
We are working on support for this but its not currently possible

[2022-03-23 09:28] nbransby commented on #111
@DetachHead could you send another report but after restarting the ide and only having a single ide window open which is the project that is not working as expected in GitLive, thanks

[2022-03-23 09:28] nbransby commented on #111
it does work in idea also

[2022-03-23 13:08] DetachHead commented on #110
awesome, is there an issue tracking this that i can follow?

[2022-03-24 09:27] Ygnys opened #113 "GitLab self-hosted support for servers not accessible via the internet"
We are working on this feature and will update the issue once it's ready

[2022-03-24 09:32] Ygnys commented on #110
@DetachHead I created a new issue for this: https://github.com/GitLiveApp/GitLive/issues/113

[2022-03-24 18:37] Steakeye commented on #86
Hi @relandboyle!

Thanks for your last set of screenshots, they were really helpful. It seems like you've managed to help us identify a big with the GitHub API we use as well as an area of our functionality that could do with hardening.

The issue is that the GitHub endpoint we're using to find all the repos associated with your GitLive install returns the repo name as `"Interview-Skills-Grid"` wh

[2022-03-26 16:31] Plutonium-239 opened #114 "Sublime Text support"
Hi, I like git.live but I want to use it on ST4. Is there a plan to include this in the immediate future?
Mainly because sublime is still a very popular editor.
Plugins like floobits existed, but is not maintained anymore and doesn't work. Also, the only other collaboration plugin on sublime is Remote Collab (and a couple others), which work like VS Code Live Share (i.e. you have to have one perso

[2022-03-28 11:04] Steakeye commented on #86
Hi @relandboyle!

GitHub support got back to me and pointed out that there are two similarly named repositories:
[code]
So with that extra insight, I'm pretty confident that you have GitLive installed against the RBoyle-Software organisation, which is good!

Having said that, I need to correct my instruction from last week as in fact you need to make sure you're using the RBoyle-Software hosted In

[2022-03-29 10:42] igreenfield opened #115 "com.intellij.openapi.vcs.VcsException: Failed to start Git process: Cannot run program "C:\Program Files\JetBrains\IntelliJ IDEA 2021.2.3\bin\runnerw.exe" (in directory "C:\GIT\aaaaa.master"): CreateProcess error=206, The filename or extension is too long"
at git4idea.commands.GitCommandResult.throwOnError(GitCommandResult.java:156)
	at git4idea.commands.GitCommandResult.getOutputOrThrow(GitCommandResult.java:145)
	at dev.gitlive.af.invokeSuspend(SourceFile:166)
	at kotlin.coroutines.jvm.internal.BaseContinuationImpl.resumeWith(ContinuationImpl.kt:33)
	at kotlinx.coroutines.DispatchedTask.run(DispatchedTask.kt:56)
	at kotlinx.coroutines.scheduling.C

[2022-03-29 10:48] Ygnys commented on #114
Hi @plutonium-239 thanks for this suggestion. We'll add it to the roadmap, the more likes this issue gets the more we will prioritise it!

[2022-03-29 11:36] nbransby commented on #115
Hi @igreenfield do you see "GitLive has stopped due to an uncaught exception" in the GitLive toolwindow when this issue occurs?

[2022-03-29 13:00] #92 closed

[2022-03-31 17:50] micahlt commented on #105
GitLive has worked pretty well for my web IDE running on [code-server](https://github.com/coder/code-server), but I've recently started getting this error:

![image](https://user-images.githubusercontent.com/28816297/161118315-819b9bd6-4103-48b2-9846-4e66186155b7.png)

@Steakeye any updates on official support for VSCode on the web?

[2022-04-04 09:46] Steakeye commented on #105
Hi @micahlt

We had to pause development on the VSCode Web stuff while the team at VSCode completed an important refactor that would allow us to continue delivering our feature. The good news is that the team at VSCode has been busy working on that dependency and we're ready to resume work on VSCode Web support this week! We'll keep you updated when we release the first version officially for Web.

[2022-04-04 14:19] micahlt commented on #105
Awesome, glad to hear that!  That is correct - the error only occurs when my code is actively being shared with a teammate.  I'm using:

- code-server 4.2.0
- VSCode 1.64.2
- GitLive 15.0.5
- Windows 11 Pro (21H2 Update)
- Chrome 100.0.4896.60

Thank you for your assistance!  I love what GitLive is doing - you guys are awesome!

[2022-04-06 09:37] Steakeye commented on #105
Thanks @micahlt, that's really nice to hear!

We've found your particular bug and are looking into it. Once we've figured out the issue it'll go into an upcoming patch release 🙂

[2022-04-06 14:32] micahlt commented on #105
Thank you so much!  I'm glad to hear it - thanks for the fast response!

[2022-04-11 23:06] relandboyle commented on #86
@Steakeye Apologies for the delayed response.

I have not had an opportunity to test, but my takeaway from this discussion is that I should just use lowercase letters for my repositories like everyone else.

I really appreciate the effort you put into this. I would still be happy to jump into a Zoom at some point if you'd like to review or test.

Thank you very much.

[2022-04-14 09:26] chakravarthy-mm commented on #112
Facing same issue

[2022-04-14 09:26] chakravarthy-mm commented on #112
I see this message

[2022-04-20 10:13] decates opened #116 ""No git repositories found in this project" when opening a sub-folder in IDE"
If I open a sub-folder of a git repository in IDE (either Jetbrains Webstorm or VSCode), GitLive displays the message "No git repositories found in this project" and the plugin doesn't load up.

For example, if ~/myrepo has a `.git` folder in it and I open `~/myrepo/ui-project` in the IDE, the GitLive plugin doesn't work.

I gather from other issues that this may be 'by design' - it looks for a `.

[2022-04-27 14:40] YudiDerp opened #117 "Emulator doesnt work on other persons android studio"

[2022-04-28 09:50] nbransby commented on #116
Hi @decates yes we want to add support for this. Could you tell me a little more about your use case? It is a monorepo and you only work in that subfolder? Would you also like the information displayed in GitLive to be restricted to sub folder? For example only showing you the teammates and changes from that folder?

[2022-04-28 09:51] nbransby commented on #117
Hi @YudiDerp, we don't currently support this but if you want to give us some more details we can look into add support in the future

[2022-04-28 20:04] wsrast opened #118 "VSCode GitLive extension causing infinite looping calls to `git blame` on .gitignored file"
Open any file which is marked as ignored in your `.gitignore` file and you'll get the following error repeatedly in your "Output">"Git" window:

[code]

The only fix is to disable the GitLive extension.

[2022-04-29 11:35] Steakeye commented on #118
Hi @wsrast,

At first glance I'm not able to reproduce your issue.

In order to investigate this further, could you provide us with more information about your setup? It would be really helpful if you could tell us the following:

- Operating System, name and version number
- VSCode version
- GitLive version

[2022-05-03 17:57] wsrast commented on #118
OS: MacOS 12.3.1
VSCode: 1.66.2
GitLive version: 15.0.6

[2022-05-05 12:31] Steakeye commented on #118
Thanks @wsrast,

We're taking a look at repeating your issue and will get back to you when we have a conclusion.

[2022-05-05 12:38] Steakeye commented on #105
Hi @micahlt,

Just wanted to give you an update. We're aware of an issue in VSCode that we need to work around with regards to code collaboration; there should be some improvements in the latest version of GitLive but further work on this feature is in our backlog.

[2022-05-05 20:59] Steakeye commented on #118
Hi @wsrast,

We've been looking into this today and it would be helpful if we could get a bit more information from you.

If the project you're working on happens to have a public repo, then it would be great for us to know what the project is as well as the branch you were on, so that we might more accurately try to replicate what you've experienced.

Next, would it be possible for you to try run

[2022-05-05 22:17] wsrast commented on #118
Will give that a shot and get back to you. It's a private repo, but the rest I can do.

[2022-05-05 23:38] Steakeye commented on #118
Much appreciate! 👍🏽

[2022-05-06 23:23] copleykj opened #119 "Git Live extension causing repeated type and lint checking of closed files."
Issue Type: <b>Bug</b>

1. Have a large codebase
2. change types in a file that affects others with your codebase that aren't currently open
3. Observe the "PROBLEMS" tab of the vscode panel to see that different type issues and linting errors of closed files pop in and out of the panel infinitely
4. Observe high CPU load and UI stutter/freeze on

I was having this issue and discovered that if I d

[2022-05-09 09:58] bertog opened #120 "Not able to sign in in bitbucket on PHPStorm"
Hi there,

I'm trying to link GitLive on PHPStorm to our bitbucket stuff. The tool Window show this:

<img width="530" alt="image" src="https://user-images.githubusercontent.com/7644360/167386337-e3b8cde8-b2ad-4134-956d-0c1bd547be87.png">

After click the sign in link it open a Bitbucket Window say that's everything is ok and I can close the tab, but nothing happen in GitLive.

Going in the settin

[2022-05-09 10:40] Ygnys commented on #120
Hi @bertog, thanks for reporting, we are aware of the problem and trying to fix it asap. Sorry for the inconvenience, will update you as soon as the issue is resolved.

[2022-05-09 14:15] Steakeye commented on #119
Hi @copleykj,

Would you mind telling us what kind of size of code base you're working with? That is to say, how many files of source code. If it's an open source project we'd love to investigate with the actual code base, so if it's possible for you to share the repo, that would be great. Not to worry if that's not possible.

A screen shot of your problems tab might prove insightful if you could

[2022-05-10 12:25] bertog commented on #120
Yes it working now :) Thanks :)

Guido

[2022-05-10 12:25] #120 closed

[2022-05-10 20:47] Steakeye commented on #118
Hi @wsrast ,

Thank you very much for your update; it's good to know about the size of your branch in terms of branches; I'm taking it that these are all open branches?

I also wish to clarify something regarding the output logs.

GitLive builds up deltas between your local files and remote versions of the same file; we do this so we can show you those differences and you can easily cherry pick di

[2022-05-13 12:16] Steakeye commented on #119
Hi @copleykj,

Happy Friday! Just wondering if you'd be able to provide the extra information I asked for to better help us solve the issue you're experiencing?

Have a good weekend 😄

[2022-05-15 00:06] copleykj commented on #119
Sorry for the delay. So I've tried to re-enable to extension to get screen shots of the problems tab and now the issue seems to have resolved itself, so I'm not sure something was cached or what's going on, but I'm gonna close this for now and I'll reopen with more details if it starts happening again.

[2022-05-15 00:06] #119 closed

[2022-05-15 00:54] Steakeye commented on #119
Thanks for the update @copleykj. Please don’t hesitate to let us know if the problem reoccurs.

[2022-05-18 10:16] Eason51 commented on #120
Same problem with versions from 11 to the newest on android studio

[2022-05-18 11:16] Ygnys commented on #120
Hey @Eason51 could you provide us with the steps to reproduce the issue (also screenshots would be helpful if that's possible)? Just to confirm, are you trying to sign in with Bitbucket?
Could you also let us know what OS, GitLive version, and exact IDE version you're using? Thanks!

[2022-05-18 11:23] Eason51 commented on #120
Android Studio version 2021.2.1
GitLive version 15.0.8
It has been installed in a Github repository
![1](https://user-images.githubusercontent.com/66631204/169027315-7f435e21-c7c5-443b-a132-ff62f818ef12.jpg)
Image 1 is the interface after I installed GitLive in Android Studio, I cannot click anything in the left panel, except the "settings" option.
![2](https://user-images.githubusercontent.com/66

[2022-05-18 12:26] Ygnys commented on #120
Thanks, @Eason51, we will look into it!

[2022-05-18 14:11] michaelprichardson commented on #120
Hi @Eason51,

Thanks for those steps! Can you confirm you are connected to the internet? Are you using a proxy or VPN?

In offline mode you will only see users that have branches which are ahead of master.

You should see the sign in link from the GitLive window:
![image](https://user-images.githubusercontent.com/5164099/169061639-7736397e-d51d-4522-b9b4-4e7360c07d46.png)

This is what it should l

[2022-05-18 15:32] michaelprichardson commented on #120
Thanks for the fast reply @Eason51!

I just tested with and without a VPN enabled and it worked. Could you tell me which country you are trying to use Gitlive from?

[2022-05-18 15:55] Eason51 commented on #120
@michaelprichardson I am accessing from China, and I have tested my VPN from different Asia countries, but none of them work.

[2022-05-18 15:58] michaelprichardson commented on #120
@Eason51 Could you try your VPN from a European country?

[2022-05-18 16:02] Eason51 commented on #120
@michaelprichardson I tried a UK one, but the problem persists. It's okay, using gitlive is not a must for my project, so it doesn't really matter if the problem persists. I just hope it's a special case that never happens to other users.

[2022-05-25 10:38] spence-novata commented on #44
@nbransby Any way we can get a config option to define "stale" 3 months is too long for us. We'd probably want to set this to 2-4 weeks

[2022-05-25 10:52] Steakeye commented on #86
Sorry @relandboyle, we've been super busy working on other features.
Give the time difference and workload, it's best if we can confirm things are working for you in an asynchronous fashion 😄
Did you get everything working in the end?

[2022-05-25 12:52] nbransby commented on #44
Hi @spence-novata, makes total sense we'll try and it add it in the next release

[2022-05-25 15:00] Ygnys commented on #112
This is fixed in the latest version

[2022-05-25 15:18] Ygnys commented on #111
Closing the issue because it needs more information and has not had recent activity. Please re-open the issue if more details can be provided. Thanks!

[2022-05-25 15:28] #110 closed

[2022-05-25 22:21] KotlinIsland commented on #111
@Ygnys Is there any specific information that would help? I really want to use GitLive but this issue is completely blocking all usage.

[2022-05-26 08:46] Ygnys commented on #111
Hi @KotlinIsland, could you update GitLive to the newest version and see if it's still happening? If so, could you send us the report,  but after restarting the IDE and only having a single IDE window open which is the project that is not working as expected in GitLive?
Thanks!

[2022-05-26 09:22] Ygnys commented on #115
Hi @igreenfield, wanted to follow up on this issue, does it still happen in the newest version? If so, could you specify when it occurs and what's the name of the file you have opened ("The filename or extension is too long"). Thanks!

[2022-05-26 09:30] KotlinIsland commented on #111
Unfortunately I can't, as I'm using Idea 2022.2 and GitLive only crashes on this version, but I can get someone else to do this. Thanks

[2022-05-26 10:05] Ygnys commented on #111
@KotlinIsland what version of GitLive are you using? Could you update to the newest one? GitLive should now work correctly with 2022.X IDEs

[2022-05-26 10:07] Ygnys commented on #109
I am closing the issue as this has been fixed in the newest version, but feel free to reopen it if the problem reoccurs.

[2022-05-31 11:32] Reedyuk opened #122 "jira branches to append ticket type"
When i select a jira ticket to work on, i would like the branch to be spike/[JiraProject]-123_cool-spike Where gitlive prefixes the ticket type to the branch name.

Same would be applied to all types of tickets, e.g. story, task, etc..
story/PAP-124_story-of-my-life

[2022-06-13 09:12] Ygnys commented on #118
Closing the issue because it needs more information and has not had recent activity. Please re-open the issue if more details can be provided. Thanks!

[2022-06-13 09:13] Ygnys commented on #115
Closing the issue because it needs more information and has not had recent activity. Please re-open the issue if more details can be provided. Thanks!

[2022-06-13 09:13] #115 closed

[2022-06-13 14:17] Ygnys commented on #109
Hi @KotlinIsland this has been fixed in the newest version

[2022-06-13 15:06] Ygnys commented on #94
Hi @byymster, the newest version of the plugin works with all JetBrains EAPs.

[2022-06-16 17:10] AustinAmoruso commented on #108
I'm looking for the live features, such as collaborate and instant conflicts. Is there an sdk or api so I could setup a solution for aws?

[2022-06-17 16:34] Ygnys commented on #108
Hi @AustinAmoruso unfortunately there isn't. AWS CodeCommit support with live features is on our roadmap, but we don't have a date we should share just yet. Will update this issue as soon as we are ready to share more details.

[2022-06-20 08:15] #109 closed

[2022-07-11 07:27] #94 closed

[2022-07-12 04:54] mavicsoftsuranga opened #123 "Auto Logout"
I have installed Gitlive on my Gitlab repo. Gitlive extension worked properly. But, when i checked after several days, Gitlive not detected my repo

[2022-07-22 08:45] LucasGasparinoBSC opened #124 "Error in VSCode extension (Insider version)"
Greetings!

When opening any project that is a git repo, I get the following error message from VSCode:

Cannot read properties of undefined (reading 'repository') (TypeError)

Apart from the message, the extension doesn't seem to be working at all. This has happened recently (last week I had no issues with it). Any idea what might be happening? I tried Googling around, but no one else seems to ha

[2022-07-22 12:44] Ygnys commented on #124
Hey @LucasGasparinoBSC, thanks for reporting, we are looking into this issue.

[2022-07-25 07:57] Ygnys commented on #124
Hey @LucasGasparinoBSC, the issue has been fixed in the newest version.

[2022-07-25 13:39] LucasGasparinoBSC commented on #124
Thanks a lot, already have the new one working! Super useful extension btw, I love it!

[2022-07-25 15:26] Ygnys commented on #124
Thank you @LucasGasparinoBSC, happy to hear you are enjoying GitLive! I am closing this issue, but feel free to reach out to us with any additional feedback or questions you might have :)

[2022-07-25 15:26] #124 closed

[2022-08-02 06:34] KotlinIsland commented on #111
@Ygnys I am using 2022.2 IDE with GitLive 15.0.11
![image](https://user-images.githubusercontent.com/65446343/182307746-37166e80-cd56-4f87-9c59-709e9109fa91.png)

[2022-08-02 19:10] Ygnys commented on #111
Hi @KotlinIsland, thanks for the update! We are aware of the plugin not working correctly with IJ 2022.2 and looking into this issue. Will update you once we release a fix.

[2022-08-03 21:25] hailwood opened #126 "GitLive causes Intellij to show branches from the wrong project"
Please see https://youtrack.jetbrains.com/issue/IDEA-299233

[2022-08-03 21:51] nbransby commented on #126
Thanks for reporting, does it occur only with the new UI?

Also the screencast is not visible on the youtrack issue, could you share that?

[2022-08-03 21:59] hailwood commented on #126
Hi @nbransby,

Just checked and it does appear to only happen with the new UI

[git branch issue.webm](https://user-images.githubusercontent.com/709773/182719081-7c9b86c4-bdc1-4cc5-b0a4-1faa4db9365f.webm)

[2022-08-03 22:07] nbransby commented on #126
I suspect it might be an issue in the beta of the new UI and it's compatibility with existing plugins in that case.

Worth submitting the issue with the New UI beta (not sure where that lives)

[2022-08-03 22:49] hailwood commented on #126
Thanks @nbransby,
I've gone back to the original issue and let them know it's a new UI issue, we'll see what they say.
In the meantime if you'd like to look into it, let me know and I'll email you how to enable the new UI.

Cheers

[2022-08-19 21:06] DanHugoDanHugo opened #129 "Commands git.live.showAccountList and git.live.showSettings Not Found"
Looks like the GitLive extension is not loading completely with this configuration, which is recently updated (ie still works on my laptop, config info in comment below).

## VSCode
Version: 1.70.2
Commit: e4503b30fc78200f846c62cf8091b76ff5547662
Date: 2022-08-16T05:36:25.715Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Linux x64 5.18.0-4-amd64

## Git

[2022-08-19 21:10] DanHugoDanHugo commented on #129
Working config (completely unchanged otherwise, still working as expected compared to config reported):

## VSCode
Version: 1.70.1
Commit: 6d9b74a70ca9c7733b29f0456fd8195364076dda
Date: 2022-08-10T06:09:15.055Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Linux x64 5.18.0-4-amd64

## GtLive Extension
v15.0.11

[2022-08-23 09:23] Ygnys commented on #129
Hey @DanHugoDanHugo, thanks for reporting! We are working on reproducing the issue, will update you as soon as we find a fix for this.

[2022-08-23 13:55] Ygnys commented on #129
Hey @DanHugoDanHugo unfortunately so far we were not able to recreate the issue. Have you maybe updated your version of Linux recently? Also, does this happen with any repository you're trying to open? Thanks!

[2022-08-23 13:58] DanHugoDanHugo commented on #129
You can see in the issue submission, versus my first comment, the configuration delta.

Occurs 100%.

[2022-08-23 14:43] Ygnys commented on #129
Could you check the console for errors (Help > Toggle Developer Tools) and share the output? If you prefer you can send it by email to support@git.live

[2022-08-23 15:52] DanHugoDanHugo commented on #129
Can you include your testing configuration so we can compare?

Here is the relevant console output:

Activating extension 'TeamHub.teamhub' failed: $.update is not a function.
$onExtensionActivationError @ mainThreadExtensionService.ts:111
_doInvokeHandler @ rpcProtocol.ts:455
_invokeHandler @ rpcProtocol.ts:440
_receiveRequest @ rpcProtocol.ts:370
_receiveOneMessage @ rpcProtocol.ts:296
(anonymou

[2022-08-23 16:00] Steakeye commented on #129
@DanHugoDanHugo, the following VSCode config works on my setup and GitLive `15.0.11`
[code]

[2022-08-23 16:11] DanHugoDanHugo commented on #129
That's close enough for horseshoes.

Was working as expected (viewing team members, UI elements functioning) with 1.70.1 on my laptop, when I updated code to 1.70.2 it fails just as it does on my main dev machine (original issue submission).

When I disable all extensions and enable only GitLive (plus the extensions that run regardless), so I applied my old school QA powers and luckily it was easy

[2022-08-24 03:10] DanHugoDanHugo commented on #129
I am closing this issue since it appears to be a conflict with the less-mature and somewhat-wonky Dendron extension, and the latter is almost certainly the extension to focus on.

[2022-08-24 03:10] #129 closed

[2022-08-24 14:45] Ygnys commented on #129
@DanHugoDanHugo Thank you for testing this and finding the conflict! We will see if we can do anything about it on our end.

[2022-09-27 09:07] ChristianVermeulen opened #131 "Not all open Jira issues available"
When I try to select a Jira issue from PHP storm, it seems I only get issues which are already assigned to me. But when I want to start working on a new issue, I can not select it from GitLive out of Phpstorm. I need to first go to Jira to assign it to me before I can select it in GitLive. This kind of renders the integration useless...

[2022-09-27 10:21] Ygnys commented on #131
Hey @ChristianVermeulen , yes currently you can only select from issues assigned to yourself directly from the IDE but we do have the enhancement you have suggested in our roadmap and I can let you know when it's ready!

[2022-10-07 17:47] grantwest opened #132 "Option to disable code hover popup content on vscode"
The content that GitLive adds to the code hover popup on vscode hides useful information. Because the GitLive content is first and so long, it hides the errors and docs:
![top](https://user-images.githubusercontent.com/4594800/194617997-c0269936-e360-414a-9de1-609a247f83a6.png)

To see the actual language server error you need to scroll all the way to the bottom:
![bottom](https://user-images.gith

[2022-10-10 09:16] Ygnys commented on #132
Hi @grantwest, what vs code version are you using? The problem you described was a VS Code issue and as far as we can tell it has been fixed in the latest version.

[2022-10-13 11:07] Ygnys commented on #116
Hi @decates,  support for this has been added to our EAP version. You can find it [here](https://plugins.jetbrains.com/plugin/11955-gitlive/versions/eapl) (JetBrains IDEs) or go to _Extensions_ > _GitLive_ and choose _Switch to Pre-Release Version_ in VS Code. Will be happy to hear how it works for you!

[2022-10-13 11:33] Ygnys commented on #111
Hi @KotlinIsland! We have recently released EAP version of GitLive 16 and we believe it should fix the issues you've previously reported. You can find it [here](https://plugins.jetbrains.com/plugin/11955-gitlive/versions/eap). Will be happy to hear how it works for you!

[2022-10-13 12:04] Ygnys opened #133 "Removing admin requirement for GitLive installation"

[2022-10-13 12:12] Ygnys commented on #123
Closing the issue because it needs more information and has not had recent activity. Please re-open the issue if more details can be provided. Thanks!

[2022-10-13 12:12] #123 closed

[2022-10-19 09:16] barmalejj opened #134 "filter branches by different criteria"
I tried your extension and found it amazing! My main feature is conflicts detection. Was looking for something like that for years.
For downsides I would say it quite poorly configurable (only 4 very general options in menu). What I really luck in current version is ability to scope branches by some criteria. In our process we have quite lots of technical branches e.g. release branches etc. and tr

[2022-10-19 12:17] nbransby commented on #134
Hey @barmalejj thanks, these are some great suggestions. We'll let you know when they make it into the product, how do you differentiate your release branches from your your feature branches?

[2022-10-19 14:24] Steakeye commented on #134
If there's some naming convention, an ignore pattern (glob or RegEx) might be appliable

[2022-10-19 22:39] Subtixx commented on #75
Shame more than a year has passed and no updates and still no support.

[2022-10-21 12:22] Ygnys commented on #75
Hi @Subtixx, sorry we don't have any updates for you, we haven't forgotten about Space support but as this issue hasn't received many likes we haven't made it a priority. This can always change if we see more demand for it so don't lose hope!

[2022-10-24 05:23] barmalejj commented on #134
Yes, we use name convention, so regex would work perfectly!

[2022-10-26 10:14] nbransby commented on #134
@barmalejj I would like to understand your use case a little more if possible - for your release branches that you want to filter out - aren't those always behind your default branch anyway so would not show in GitLive? And if they are ahead of the default branch would you not want to see them in GitLive due to the possibility of them containing conflict changes?

[2022-10-26 13:06] barmalejj commented on #134
Not exactly always behind. We have lots of different environments with different configurations and we use cherry-pick to create release branch.
I understand your point. I think instead of adding some default behaviour it would be good to make it maximum flexible. At least in the beginning.

[2022-10-27 10:39] mitea1 commented on #113
any progress or possible release date?

[2022-10-28 10:10] Ygnys commented on #113
Hi @mitea1, we are working on this feature, but I don't have a date to share just yet. I will let you know as soon as I have more updates on this!

[2022-11-01 06:21] KotlinIsland opened #135 "(🐞) IDEA: gutter icon shown at end of file when there are no changes"
It seems to me that when I am looking at a file that has any GitLive markers in the gutter, there is always an incorrect entry at the bottom of the file

![image](https://user-images.githubusercontent.com/65446343/199171548-9dc83fb3-9491-4a0b-980f-2e2e80a28386.png)

This commit does not edit the end of the file

PyCharm 2022.3 EAP, GitLive 16.0.0

[2022-11-01 06:36] KotlinIsland commented on #111
I believe this issue is resolved 🚀🚀🚀🚀🚀🚀🚀🚀🚀

[2022-11-01 06:47] KotlinIsland opened #136 "(🐞) Open in GitLab doesn't go to the right url when it's nested in groups"
Here I have a project that is nested two group deep, ie `https://domain/outer-group/inner-group/project`. When I click the "open branch on GitLab" link on a gutter icon diff, it takes me to a 4️⃣0️⃣4️⃣ page 😢.

![image](https://user-images.githubusercontent.com/65446343/199174679-67f1e763-9edc-4814-91ea-cc7efbec864e.png)

![image](https://user-images.githubusercontent.com/65446343/199174668-1aad6b

[2022-11-01 06:51] #111 closed

[2022-11-01 19:11] Ygnys commented on #135
Thanks for reporting @KotlinIsland, we are working on fixing this issue

[2022-11-01 19:14] Ygnys commented on #136
Thanks for reporting @KotlinIsland, we will try to include a fix for this 🐞 in the next release

[2022-11-04 13:04] Ygnys commented on #116
Closing the issue, the support for this is now included in the stable version.

[2022-11-04 13:04] #116 closed

[2022-11-07 13:56] Ygnys commented on #134
Hi @barmalejj, the ability to specify a regex in the settings to restrict the branches that appear in the team sidebar and gutter indicators is now available in EAP. Here you can find instructions on how to switch to EAP in [JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-JetBrains) and  [VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-VSCo

[2022-11-07 14:45] Ygnys commented on #44
Hi @spence-novata, stale filter (which was hard coded to 3 months) was replaced with the ability to filter by "last updated" from 24 hours up to 3 years in the newest EAP. Here you can find instructions on how to switch to EAP in [JetBrains](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for-JetBrains) and [VS Code](https://blog.git.live/Introducing-GitLive-Early-Access-Program-for

[2022-11-08 04:45] KotlinIsland opened #137 "(👁/🐞) Icon for tool window is barely visible with the new UI preview"
# GitLive (barely visible):
![image](https://user-images.githubusercontent.com/65446343/200474266-92bd8c72-fe73-42ec-ba00-769cae657de4.png) ![image](https://user-images.githubusercontent.com/65446343/200477056-06cffcaa-7ef6-49f3-8f3e-bd15346d84e2.png)

# Services (very visible):
![image](https://user-images.githubusercontent.com/65446343/200474285-25e72ca6-d38b-4ca0-8cb8-45eb9b0f9fa0.png) ![image]

[2022-11-08 05:42] DetachHead opened #138 "vscode error - "FirebaseFirestoreException: UNAVAILABLE: Failed to get document because the client is offline.""
my repository is hosted on an internal gitlab instance btw

![image](https://user-images.githubusercontent.com/57028336/200484188-7ccfd253-48c4-4961-b2f0-a66008e16352.png)

[2022-11-08 20:04] Ygnys commented on #137
Thanks for reporting @KotlinIsland, we will look into this!

[2022-11-08 20:07] Ygnys commented on #138
Hi @DetachHead, thanks for reporting, we are working on a fix for this issue.

[2022-11-11 13:09] barmalejj commented on #134
@Ygnys good to hear, I'm happy to try that with my team. Unfortunately I can't promise soonish feedback since we have to do some preparations to get a chance to test this tool.

[2022-11-17 15:51] Ygnys commented on #136
Hi @KotlinIsland, this has been fixed in the latest stable version, let us know how it works for you :)

[2022-11-17 23:20] KotlinIsland commented on #136
Awesome, it's working now, thanks 🚀

[2022-11-17 23:20] #136 closed